TODO
\#*
**/*.db
**/*.log
*~
.#*
.DS_Store
.bundle
.dotest
.idea
.loadpath
.project
public/dispatch.cgi
public/dispatch.fcgi
public/dispatch.rb
httpd
pgsql
config/*-public.asc
config/database.yml
db/*.sql
db/*.sqlite3*
db/schema.rb
doc/**/*
data/**/*
log/*.log
pkg
public/assets
public/attachments
sandbox
spree_dev
spree_test
testapp
tmp
vendor/rails
vendor/bundler
coverage/*
var
TAGS
nbproject
tags
*.swp
rerun.txt
test_app
.rvmrc
todo
app/stylesheets/.sass-cache
app/stylesheets/src/.sass-cache
/.screen_config
/Gemfile.lock
db/xapit
