<div class="mRadio">
  <div class="radio js-radio" id="box-single" style="background-position: 50% 0px; ">
    <input type="radio" id="single" name="order[ship_address_id]" value="<%= ship_address.id %>">
  </div>
  <span><i><%= ship_address.to_s %></i></span>
</div>
