    <div class="prchsPnl slngPnl">
    	<div class="pdImg">
        	<img src="/images/img/slng_img.png" alt="">
        </div>
        <div class="prchsDtl slng">
        	<div class="dtl1">
            	<h2><a href="#">Visenta wireless i4 series mouse</a></h2>
                <span><b>Virtual Selling:</b> Offered</span>
                <span><b>Qty Available:</b> <i>100</i>&nbsp;&nbsp;<b>Qty Available: </b><i class="blu">10</i></span>
                <big>Product Status: In Your Inventory</big>
                <big class="blu">Shipped By: You</big>
            </div>
            <div class="slngPrc">
            	<h6>Price</h6>
                <b class="blu">Unit Price: $19</b>
                <b class="blu">Volume Price</b>
                <span class="mT10">1 to 10 - $19</span>
                <span>11 to 20 - $15  <i>20% off</i></span>
                <span class="noBg">21 to 40 - $11  <i>40% off</i></span>
            </div>
            <div class="slngShp">
            	<h6>Shipping</h6>
                <span>Free Shipping: <i>To Bilneur</i></span>
                <span>Regular Shipping: <i>$4.99</i></span>
                <span>Additional item: <i>$1.99</i></span>
                <span>Express Shipping: <i>$9.99</i></span>
                <span>Additional item: <i>$4.99</i></span>
            </div>
        </div>
        <div class="slngMnu">
            <div class="top"></div>
            <ul>
            	<li><a href="#"><span>View Order Details</span></a></li>
            	<li><a href="#"><span>Edit Listing</span></a></li>
            	<li><a href="#"><span>Delete Listing</span></a></li>
            </ul>
            <div class="btm"></div>
        </div>
    </div>
