<% stylesheet "slider/general", "slider/SpryCollapsiblePanel", "slider/SpryTabbedPanels2","slider/SpryTabbedPanels3", "product" %>
<% javascript "jquery.custom_radio_checkbox", "slider/SpryCollapsiblePanel", "slider/SpryTabbedPanels", "product_index" %>
      <ul class="TabbedPanelsTabGroup">
        <li class="TabbedPanelsTab" >
          <span class="TabbedPanelsTabSelected">
            <%= link_to_unless_current "Store", {:action => 'products'}, {:class => "TabbedPanelsTab" } %>
          </span>
        </li>

        <li class="TabbedPanelsTab" tabindex="0">
          <span class="TabbedPanelsTabSelected">
            <%= link_to_unless_current "About Seller", {:action => 'about'}, {:class => "TabbedPanelsTab"}  %>
          </span>
        </li>
        <li class="TabbedPanelsTab" tabindex="0">
          <span>Feedback</span>
        </li>
        <li class="TabbedPanelsTab" tabindex="0">
          <span>Return Policy </span>
        </li>
        <li class="TabbedPanelsTab" tabindex="0">
          <span>Specials</span>
        </li>
        <li class="TabbedPanelsTab" tabindex="0">
          <span>Shipping</span>
        </li>
        <li class="TabbedPanelsTab" tabindex="0">
          <span>Contact Seller</span>
        </li>
      </ul>
