    <div class="invty">
      <div>
        <h5><%= @seller.full_name %></h5>
        <div class="seller_avatar">
          <%= image_tag(@seller.photo.url(:for_review)) %>
        </div>
        <b>Reliability Score</b>
        <em class="hndrd">
          <%= number_to_percentage( @seller.reliability, :delimiter => '.', :separator => ',', :precision => 0) %>
        </em>
        <em class="qmrk2">
          <img src="/images/icons/qmark.png" alt="">
        </em>
      </div>
      <ul>
        <li><a href="#"><img src="/images/icons/ch_twtr.png" alt="">Tweet About This Seller</a></li><!-- FIXME -->
        <li><a href="#"><img src="/images/icons/ch_fb.png" alt="">Share With Your Friends on Facebook</a></li><!-- FIXME -->
        <li><%= add_seller_to_favorite(@seller) %></li><!-- FIXME -->
      </ul>
    </div>
