<div class="msgRead subMessage">
  <div class="msgCred">
    <b>From:</b> <i><%= message.sender.full_name %></i>
    <b>Sent:</b> <i><%= l message.created_at, :format => "%B %d, %Y %H:%M" %></i>
    <b>To:</b> <i><%= message.recipient.full_name %></i> 
  </div>

  <div class="msgCnt">
    <%= message.content %>
  </div>
</div>

