/* Authors: zainansari@live.com, aminusman@hotmail.com : Creation Date:29-July-2011 Updation Date:N-A*/
body{}
h1,h2,h3{margin:1em 0;}
optgroup{font-weight:normal;}
abbr,acronym{border-bottom:1px dotted #000;cursor:help;}
del{text-decoration:line-through;}
ol li{list-style:decimal outside;}
ul li{list-style:disc outside;}
dl dd{margin-left:1em;}
th,td{border:1px solid #000;padding:.5em;}
th{font-weight:bold;text-align:center;}
caption{margin-bottom:.5em;}
sup{vertical-align:super;}
sub{vertical-align:sub;}
p,fieldset,table,pre{margin-bottom:1em;}
button,input[type="checkbox"],input[type="radio"],input[type="reset"],input[type="submit"]{padding:1px;}
		
/* widths Heights */
body,#mHdr,#mCnt,#mFtr,.w100P,#w100P{width:100%;}
.mWrp{width:937px;margin:0 auto;}

/* Floats Clears */
.clr{clear:both;}
.fL{float:left;}
.fR{float:right;}
#mHdr,#mCnt,#mFtr{float:left;}

/* Layout */
.cT,.cC,.cF,.L,.R,.C{ float:left;}

/* General */
.mT10{margin-top:10px;}

/* IE6 Hacks */