/* Authors: zainansari@live.com, aminusman@hotmail.com : Creation Date:29-July-2011 Updation Date:N-A*/
/* CSS Sprites */

/* Navigation Iconic */
/*.sIco{background:url('../images/s_icons.gif') no-repeat;}
.vWeb{background-position:-235px -115px;width:112px;}
.iFDmo{background-position:-360px -115px;width:130px;}
.vWeb,.iFDmo{height:50px;}*/
