/* hone index page Content */
#mCnt{}
.cHome{}
	.cHome .mBnr { width:100%; padding-bottom:50px; background:url('/images/bgs/bnr_bg.png') 0 73px no-repeat;}
		.mBnr .bnrCnt { width:255px; margin:66px 0 0 40px;}
			.mBnr .bnrCnt h1 { width:100%; margin:0; padding-bottom:15px; font-size:18px; color:#4d4d4d;}
			.mBnr .bnrCnt p { font-size:11px; color:#4d4d4d; line-height:16px;}
			.mBnr .bnrCnt a { font-size:12px; font-weight:b; color:#29b6de; margin-top:20px;}
			.mBnr .bnrCnt .btn { margin:55px 0 0 27px;}
			.mBnr .bnrCnt .btn:hover {}
		.mBnr .bnrImg { width:461px; position:relative;}
			.TabbedPanelsTab span { width:95%; text-align:center; line-height:19px;}
			
		
.cHome .mBnr, .mBnr .bnrCnt, .mBnr .bnrCnt h1, .mBnr .bnrCnt p, .mBnr .bnrCnt a, .mBnr .bnrCnt .btn, .mBnr .bnrImg,.TabbedPanelsTab span {float:left;}

.cHome .c1 { width:100%;}
	.cHome .c1A {}
	.cHome .c1B {}
	.cHome .c1C {}
	.cHome .c1A,.cHome .c1B,.cHome .c1C {width:207px; margin-left:70px; position:relative; height:225px;}
	.cHome .c1 h2 { width:100%; font-size:16px; color:#4d4d4d; padding:20px 0 5px 0;}
	.cHome .c1 p { width:100%; font-size:11px;line-height:15px; padding-bottom:30px;}
	.cHome .c1 .btn { position:absolute; left:0; bottom:0; width:82px; height:27px; color:#fff; text-shadow:-1px -1px #63929b; padding:5px 0 0 12px; background:url('../../images/forms/rd_mre.png') no-repeat;}
	.cHome .c1 .btn:hover { background:url('/images/forms/rd_mre_h.png') no-repeat;}

.cHome .c1, .cHome .c1A, .cHome .c1B, .cHome .c1C, .cHome .c1 h2, .cHome .c1 p, .cHome .c1 .btn {float:left;}

.cHome .c2 { margin-top:47px;}
.cHome .c2 .latest {}
.cHome .c2,.cHome .c2 .latest { float:left; width:100%;}

/* Slider */
#carousel {position: relative; overflow: hidden; margin-top:30px; width:100%!important; height: 180px!important; float:left;}
	#carousel ul {list-style: none outside none; margin: 0; padding: 0; position: relative; width: 9999px;}
		#carousel ul li {width:480px; height:135px!important; background:url('/images/bgs/sldr_prdct_bg.png') left top no-repeat;display: inline; padding: 0px;}

.crsl { float:left; width:100%;}

.crsl img {float:left; width:122px; height:100px; margin:2px 32px 0 6px;}
.crsl a {clear:left; float:left; color:#4d4d4d; font-weight:bold; font-size:12px; margin:4px 0 0 15px;}
.crsl .lHd { float:left; width:200px; margin-top:10px;}
.crsl .lHdI { float:left;width:200px; font-size:11px; color:#4d4d4d; font-style:normal; margin-top:5px;}
.crsl .byTh { float:left; width:200px; margin-left:45px;*margin-left:0;*margin-top:20px; font-size:12px; color:#89be50;}
.byPrc {font-size:12px; color:#df5050;}


