/* Product Detail Page */     

.prdctDPg {}
.prdctDPg .col1 { width:641px;}
  .prdctDPg .bCrmp { margin-top:34px;}
    .prdctDPg .bCrmp span { height:23px; width:114px; font-size:11px; font-weight:bold; padding:3px 0 0 10px; background:url('/images/forms/cont_brws_bg.png') no-repeat;} 
    .prdctDPg .bCrmp span a { color: #fff;} 
    .prdctDPg .bCrmp ul { width:500px; margin:2px 0 0 10px;}
      .prdctDPg .bCrmp ul li { color:#999; margin-right:20px; font-weight:bold; font-size:12px;}
        .prdctDPg .bCrmp ul li a { color:#4d4d4d;}
  .prdctDPg .cntTop { height:11px; margin-top:9px; background:url('/images/bgs/prdctDPg_top.png') no-repeat;}
  .prdctDPg .cntCntr {background:#ededed;}
  .prdctDPg .cntBtm { height:11px;background:url('/images/bgs/prdctDPg_btm.png') no-repeat;}
    .cntCntr .favCmnt {}
      .social { float: right !important;}
      .favCmnt > span+div { float:  right; margin-right: 18px; width: 623px;}
      .favCmnt span { margin:0 0 5px 10px; font-size:14px; font-weight:bold; color:#4d4d4d; margin-right:23px;}
      .favCmnt .seAll { width:145px; height:20px; margin-left:20px; color:#fff;font-size:11px; font-weight:bold; text-align:center; line-height:20px; background:url('/images/bgs/seeall_bg.png') no-repeat;} 
      .favCmnt .add { width:106px; height:19px; text-align:center; color:#4e4e4e; font-size:11px; background:url('/images/bgs/fav_bg.png') no-repeat; line-height:19px; font-weight:bold; margin-right:11px;}
      .favCmnt .fbLike { margin-right:7px;}
    .sldrBnr { position:relative; padding-bottom:30px; background:url('/images/bgs/slider_bag.png') 20px 5px no-repeat;}
    .bnrFolw { position:absolute; right:25px; top:50px; z-index:1000; height:198px; width:55px; background:url('/images/bgs/bnr_flw_bg.png') no-repeat; display: none;}
    .sldrBnr:hover .bnrFolw { display:block;}


      .bnrFolw ul { margin:4px 0 0 12px;}
        .bnrFolw ul li a { margin:5px 0 0 0}
  .prdctTabs { width:98%; margin-left:15px;}
    .cmntTab { float:left; width:100%; padding:10px 0}
      .cmntTab span { float:left; width:24px; height:24px; margin-left:12px; margin-right:5px; text-align:center; line-height:24px; color:#fff; background:url('/images/forms/cmnt_bag.png') no-repeat;}
      .cmntTab i { width:300px; font-size:11px; font-style:normal; margin:5px; font-weight:bold; color:#29b6de;} 
  .prdctTabs .top { float:left; width:100%; height:19px; background:url('/images/forms/tab_cnt_top.png') no-repeat;}
  .prdctTabs .cntr { float:left; width:100%;*margin-top:-4px; padding-bottom:30px; background:url('/images/forms/tab_cnt_cntr.png') repeat-y;}
  .prdctTabs .btm { float:left; width:100%;*margin-top:-4px; height:19px; background:url('/images/forms/tab_cnt_btm.png') no-repeat;}
    .prdctTabs .cntr b { width:90%; margin:1% 0 0 3%;}
    .prdctTabs .cntr ul { width:95%; margin:3%;}
      .prdctTabs .cntr ul li { width:90%; padding-left:20px; padding-bottom:5px; list-style:none; background:url('/images/icons/li_sign.png') 0 3px no-repeat;}
      .rtng { width:96%; margin:30px 0 0 20px;}
        .rtng .top { float:left; width:100%; height:47px;background:url('/images/bgs/ratng_top.png') no-repeat;}
          .rtng .top b { color:#787878; margin-left:10px; font-size:14px; line-height:50px;}
          .rtng .top p { width:100px; margin-left:10px;}
           .rtng .top p i { float:left; margin:15px 4px 0 0;}
          .rtng .top a { float:right; width:126px; height:26px; margin:12px 25px 0 0; color:#fff; font-weight:bold; line-height:26px; text-align:center; background:url('/images/forms/rate_btn.png') no-repeat;}
        .rtng .cntr { position:relative; height:116px; background:url('/images/bgs/rater_bg.png') no-repeat;} 
          .rtng .cntr i { height:100px; margin:0 15px 0 11px; padding-top:16px;}
          .rtng .cntr span { position:absolute; width:82px; height:18px; text-align:center; left:11px; top:81px; background:url('/images/bgs/rtr_btm_bg.png') no-repeat;}
          .rtng .cntr p { width:80%; margin-top:22px; color:#787878; font-size:12px;}
          .rtng .cntr b { width:100px;}
          .rtng .cntr a { float:right; margin-right:34px; font-size:12px; font-weight:bold; color:#787878;}
            .rtng .cntr a em { font-style:normal; margin-left:10px;}
            .rtng .cntr a .ys { color:#6c9c38;}
            .rtng .cntr a .no { color:#df5050;}
        .rtng .btm { height:47px; background:url('/images/bgs/rater_btm.png') no-repeat;}
          .rtng .btm .blogPg { float:left; margin:4px 0 0 8px;}
          .rtng .btm .pagination { margin:6px 20px 0 0;} 
  .prdctDPg.col2, .prdctDPg .col2 { width:281px; margin:68px 0 0 15px;} 
    .col2 .smlTabs {}
      .smlTabs .tabCnt1 { height:65px; background:url('/images/bgs/sml_tab_cnt1.png') no-repeat;}
      .smlTabs .tabCnt2 { height:69px; background:url('/images/bgs/sml_tab_cnt2.png') no-repeat;}
      .smlTabs .tabCnt3 { height:69px; background:url('/images/bgs/sml_tab_cnt3.png') no-repeat;}
      .tabCnt1,.tabCnt2,.tabCnt3 { width:291px;*margin-top:-4px;}
      .tabCnt1 b,.tabCnt2 b,.tabCnt3 b { float:left; width:60%;font-size:20px; color:#df5050;}
      .tabCnt1 b {margin:16px 0 0 13px;}
      .tabCnt2 b,.tabCnt3 b {margin:0 0 0 13px;}
      .tabCnt3 b { font-size:15px;}
      
      .tabCnt1 span,.tabCnt2 span,.tabCnt3 span { float:left; width:60%; margin:0 0 0 13px;  font-size:12px; color:#787878;}
      .tabCnt2 span,.tabCnt3 span {margin:16px 0 0 13px;}
      .tabCnt1 a,.tabCnt2 a,.tabCnt3 a { float:right; width:73px; height:25px; margin:19px 25px 0 0; text-align:center; line-height:25px; font-size:12px; color:#fff;}
      .tabCnt1 a,.tabCnt2 a { background:url('/images/forms/view_blue.png') no-repeat;}
      .tabCnt3 a { background:url('/images/forms/buy_pink.png') no-repeat;} 
      .col2 .smlTabs .btm { width:291px;*margin-top:-4px; height:20px; background:url('/images/bgs/sml_tab_btm.png') no-repeat;}
    .col2 .add { width:279px; height:141px; padding:12px 0 0 12px; background:url('/images/bgs/sell_buy_add.png') no-repeat; margin:5px 0 0 4px;}
      .col2 .add b { float:left; width:100%; font-size:13px; color:#4d4d4d;}
      .col2 .add .slrOvr { float:left;width:100%; font-size:13px; color:#df5050; text-decoration:underline; font-weight:bold; margin:4px 0;}
      .col2 .add .strt { float:left; width:236px; height:47px; margin:10px 0 0 11px; font-weight:bold; font-size:19px; color:#fff; text-align:center; line-height:42px; background:url('/images/forms/strt_btn.png') no-repeat;}
      .col2 .add .mre { float:left; width:100px; font-size:13px; color:#29b6de; font-weight:bold; margin-top:10px;}
    .vwer { margin:37px 0 0 4px;}
      .vwer .top { height:30px; background:url('/images/bgs/vwer_top.png') no-repeat; margin-left: -1px;}
        .vwer .top b { width:95%; line-height:30px; margin-left:14px; color:#4d4d4d;}
      .vwer .cntr { position:relative; width:276px; height:116px; border-right:1px solid #b3b3b3; border-bottom:2px solid #b3b3b3; border-left:1px solid #b3b3b3;} 
          .vwer .cntr i { float:left; height:100px; margin:0 15px 0 11px; padding-top:16px;}
          .vwer .cntr span { position:absolute; width:82px; height:18px; text-align:center; left:11px; top:81px; background:url('/images/bgs/rtr_btm_bg.png') no-repeat;}
          .vwer .cntr p { position:absolute; left:80px; top:13px; width:188px; height:89px; background:url('/images/bgs/pop_bg.png') no-repeat;}
            .vwer .cntr p a { float:right; width:150px; text-align:center; margin:10px 8px;}
            .vwer .lst { border-bottom:none;}
      .vwer .btm { height:7px; background:url('/images/bgs/vwer_btm.png') no-repeat;}
      .smlr {}
        .smlr a { color:#787878;} 
          .smlr a b { float:left; width:60%; margin-top:17px; font-size:15px;}
          .smlr a em {float:left; width:60%; font-style:normal; font-size:11px; margin-top:5px;}
            .smlr a em label {float:left; width:60%; font-style:normal; font-size:17px; color:#df5050; font-weight:bold; margin-top:5px;}
.prdctDPg.col1,.prdctDPg .col1,.prdctDPg .bCrmp,.prdctDPg .bCrmp span,.prdctDPg .bCrmp ul,.prdctDPg .bCrmp ul li,.cntTop,.cntCntr,.cntBtm,.favCmnt,.favCmnt span,.favCmnt .seAll,.favCmnt .add,.favCmnt .fbLike,.sldrBnr,.bnrFolw ul,.bnrFolw ul li,.bnrFolw ul li a,.prdctTabs,.cmntTab i,.prdctTabs .cntr ul,.prdctTabs .cntr ul li,.prdctTabs .cntr b,.rtng,.rtng .top,.rtng .top b,.rtng .top p,.rtng .cntr,.rtng .cntr i,.rtng .cntr p,.rtng .cntr b,.rtng .btm,.prdctDPg.col2,.prdctDPg .col2,.col2 .smlTabs,.tabCnt1,.tabCnt2,.tabCnt3,.smlTabs .btm,.col2 .add,.vwer,.vwer .top,.vwer .top b,.vwer .cntr,.vwer .btm { float:left;}


.prdctDPg .bCrmp,.cntTop,.cntCntr,.cntBtm,.favCmnt,.sldrBnr,.rtng .top,.rtng .cntr,.rtng .btm,.col2 .smlTabs,.col2 .add,.vwer,.vwer .top,.vwer .btm { width:100%}

/* Product Details Sellers */
.cmntTabFx { position:relative;}
.cmntTabFx .rtng { width:100%; margin:0;}     
  .cmntTabFx .rtng .cntr { height:86px;}
    .cmntTabFx .cmntTab { width:250px; position:absolute; right:-20px; top:-10px; *right:-20px; *top:-45px;}
      .cmntTabFx .cmntTab span {}
      .cmntTabFx .cmntTab i { width:160px; font-size:13px; font-weight:bold;} 
.cmboSrt { float:left; width:280px; height:31px; position:relative; background:url('/images/bgs/brnd_tp_blu.png') no-repeat;}
  .cmboSrt form { float:left;} 
  .dtlPnl { float:left;}
  .dtlPnl .lft { float:left; width:157px; padding-left:10px; margin-top:5px; margin-right:5px; border-right:1px solid #bebebe;}
    .dtlPnl .lft b { float:left; width:60%; padding-bottom:5px; font-size:20px; color:#89be50;}
      .dtlPnl .lft span { float:left; width:100%; font-weight:bold; font-size:12px; color:#6e6f6e;}
        .dtlPnl .lft span em { margin-left:5px; font-style:normal; color:#e24848;}
        .dtlPnl .lft p { float:left; width:100%; height:5px; margin:0; padding:0;}
  .dtlPnl .rgt { float:left; width:105px; margin-top:5px; position:relative;}
    .dtlPnl .rgt i { float:left; width:90%; text-align:center;eight:100px; margin:0 0 0 4px;}
    .dtlPnl .rgt span { position:absolute; width:82px; height:18px; text-align:center; left:10px; top:65px; background:url('/images/bgs/rtr_btm_bg.png') no-repeat;} 
      .dtlPnl .rgt em { float:left; width:97%; margin-top:5px; text-align:center; color:#898989; font-style:normal; font-size:10px;}
      .dtlPnl .rgt b { float:left; padding:3px 5px; margin:5px 0 0 13px; font-size:10px; color:#fff; background:#898989;}
      .dtlPnl .rgt i { float:left; width:auto;}
        .imag img { margin-left:6px;}
        .tg {}
        .tg img { float:left; margin:8px 0 0 8px;}
  .cntcts { float:left; width:95%; margin:10px 0 0 15px;}
    .cntcts p { float:left; width:100%; margin-top:10px;}
      .cntcts p em { float:left; margin-top:10px; font-style:normal; font-size:7px; color:#444;}
      .cntcts p b { float:left; width:27px; margin-top:5px; margin-left:5px; height:21px; text-align:center; line-height:16px; font-size:10px; background:url('/images/forms/qnty.png') no-repeat;}
      
      .cntcts p b .pQty { float:left; width:20px; border:none;font-size:10px; background:none; margin:2px 0 0 6px;}
      
      .skBlu, .bLu { border: none; }
      .skBlu:hover, .bLu:hover { opacity: 0.8; cursor: pointer; }
      .skBlu { float:left; width:89px; margin-left:10px; height:25px; text-align:center; color:#fff; font-size:11px; line-height:25px; background:url('/images/forms/add_to_cart.png') no-repeat}
      .bLu { float:left; width:106px; margin-left:5px; height:25px; text-align:center; color:#fff; font-size:11px; line-height:25px; background:url('/images/forms/add_to_vstor.png') no-repeat}
      
      .vwSStr { float:left; width:104px; margin-left:60px; height:17px; text-align:center; color:#fff; font-size:11px; line-height:17px; background:url('/images/forms/vw_slr_str.png') no-repeat}
      .cntSlr { float:left; width:84px; margin-left:5px; height:17px; text-align:center; color:#898989; font-size:11px; line-height:17px; background:url('/images/forms/cntct_slr.png') no-repeat}
      
      .shares { float:left; width:95%; margin-left:10px;}
      .shares ul { float:left; width:100%;}
        .shares ul li { float:left; width:100%; padding-left:25px; font-size:11px;line-height:11px; padding-bottom:0;}
          .shares ul li a { float:left; color:#898989; margin-top:2px; height:20px;}
          .lst2,.lst3 { background:none!important}
          .lst1 { background:url('/images/icons/slr_info.png') left 0 no-repeat!important;}
          .lst4 { background:url('/images/icons/tweet.png') left 0 no-repeat!important;}
          .lst5 { background:url('/images/icons/share.png') left 0 no-repeat!important;}
          .lst6 { background:url('/images/icons/add_slr.png') left 0 no-repeat!important;}
          .lst1 a {}
          
/* Seller Product Page */

.slrPrdctPg {}  
  .slrPrdctPg .col1, .slrPrdctPg.col1 { width:672px; border:1px solid #b3b3b3; margin-top:27px;}
  .mTabs { float:left; width:100%;}
  .mTbFx { position:relative; width:300px; margin-left:373px;}
    .mTbFx .srchBar { position:absolute; top:44px;*top:0px; height:32px; right:0; width:260px; border-top:none; background:url('/images/bgs/tab_srch_bg.png') repeat-x;}
    .mTbFx .searchTxt { margin-top:4px;}
    #TabbedPanels3 .bCrmp { margin-top:0; height:40px; background:url('/images/bgs/fltr_bg.png') repeat-x;}
      #TabbedPanels3 .bCrmp ul { width:450px; margin-top:10px;}
      #TabbedPanels3 .bCrmp ul li {margin-right:8px; font-size:11px;}
        #TabbedPanels3 .bCrmp ul li a { float:left;}
        #TabbedPanels3 .bCrmp ul li img { float:left; margin-top:-3px;}
      #TabbedPanels3 .cmboSrt { width:150px; position:absolute; right:80px; top:79px;*top:-53px; background:none;}
      #TabbedPanels3 .cmboSrt span { background-image:none;}
        #TabbedPanels3 .dd2 .ddTitle { background:url('/images/bgs/sler_srch_bg.png') no-repeat; font-size:11px; height:19px;} 
      #TabbedPanels3 .dd2 .ddTitle span.ddTitleText { line-height:21px;}
      #TabbedPanels3 .dd2 { width:130px!important;}
      #TabbedPanels3 .dd2 .ddTitle span.arrow { background:url('/images/icons/sler_srch_ico.png') 5px 6px no-repeat!important;}
      #TabbedPanels3 .dd2 .ddChild { top:23px!important; width:125px!important;}
      .likes { float:right; margin-top:-34px; position:relative; z-index:1;}
      
  .tabPrdcts { float:left; width:100%; padding-bottom:6px; background:#e5e2e2}
    .spcrPdt { float:left; width:6px; height:200px;}
    .ptPod { float:left; width:220px; margin-right: 6px;padding-bottom:10px;background:#fff url('/images/bgs/img_bg.png') left 20px no-repeat;}
    .ptPod:nth-child(3n-1) { margin-right: 0;}
      .pTpA { float:left; width:96%; padding:0 2%; color:#4e4e4e; font-weight:bold; font-size:10px; line-height:15px; height:16px; background:url('/images/bgs/slr_info_bg.png') repeat-x;}
        .pTpA img { float:right; margin-top:3px;}
      .pImg { float:left; width:100%; text-align:center; margin-top:18px; height: 130px;}
      .ptPod .prc { float:left; width:100px; font-size:24px; margin:10px 0 0 10px; color:#89be50;}
        .ptPod .prc span { font-size:12px; color:#a9a9a9;}
        .ptPod ul { float:right; width:65px; margin:20px 0 0 0;}
          .ptPod ul li { float:left; margin-right:3px;}
      .ptPod .skBlu { float:left; width:71px; height:21px; line-height:21px; margin-left:0; margin-top:3px; background:url('/images/forms/sky_bg.png') no-repeat;}
        .ptPod .bLu { float:left;width:85px;height:21px;line-height:21px;margin-top:3px;background:url('/images/forms/blue_bg.png') no-repeat;}
      .ptPod .cntcts { margin:0 0 0 5px;}
        .cntcts p { width:101%;} 
          .cntcts p i, .cntcts .str i {float: left;font-style: normal;width: 55%;font-weight: bold;font-size: 11px;color: #898989;}
          .cntcts p i label, .cntcts .str label { color: #00ADEF; }
            .cntcts p i label { color:#00adef;}
            .cntcts .nmbrRate {float: right;text-align: right;width: 42%!important;margin-right: 3px;}
            .cntcts .str { margin-top:0;}
        .cntcts .str b { background:none; float:right; margin:0 2px 0 0; height:auto; width:auto;}
  .col2SlPrd { width:258px!important; margin:27px 0 0 0!important; border:1px solid #b3b3b3;}
    .col2SlPrd .blogFilters { width:258px; border:none;}
  .invty { float:left; width:100%; padding-bottom:10px;}
    .invty h5 { float:left; width:234px; padding-left:13px; padding-bottom:5px; font-size:13px; font-weight:normal; color:#fff; line-height:23px; background:url('/images/forms/invty_hd_bg.png') no-repeat;}
    .invty div { float:left; width:234px; margin:6px 0 0 15px; position:relative;}
      .invty div img { float:left;}
        .invty div .yelTk { position:absolute; left:118px; top:70px;}
        .invty div b { float:left; width:90px;margin:10px 0 0 10px; font-size:10px; color:#707070;}
        .qmrk { float:left; margin:50px 0 0 3px;}
        .hndrd { float:left; width:48px; height:48px; line-height:48px; text-align:center; font-style:normal; font-weight:bold; color:#fff; font-size:15px; background:url('/images/forms/100_grn_bg.png') no-repeat; margin:12px 0 0 10px;}
        .qmrk2 { float:left; margin:47px 0 0 6px;}
    .invty ul { float:left; width:234px; margin:8px 0 0 15px;}
      .invty ul li { float:left; width:100%; text-decoration:underline; line-height:20px;}
        .invty ul li a { font-size:11px; font-weight:bold; color:#898989;}
          .invty ul li a img { float:left; margin:2px 6px 0 0}
      .chk label {font-weight:bold; font-style:normal; color:#787878; margin:10px; line-height:22px;}
.blogFilters .CollapsiblePanelContent { float:left; padding:10px 0!important;}
.minMax { float:left; width:100px; margin-left:15px;}
  .minMax b { float:left; line-height:19px; font-size:12px; color:#787878;}
  .minMax .txt { float:left; margin-left:5px; width:48px; height:19px; font-size:12px; font-weight:bold; color:#787878; background:url('/images/forms/min_bg.png') no-repeat; border:none;}
  .colapRtng { margin-left:15px;}
  .slctr { float:left; width:135px; margin-left:18px; position:relative;}
    .slctr b { float:left; font-size:10px; color:#00adef; line-height:25px;}
    .paging .blogPg { margin-left:5px;}
    .slctr .dd2 .ddTitle {background: url("/images/forms/min_bg.png") no-repeat!important;}
    .slctr #per_page_select_msdd { width:51px!important; margin-left:3px;}
    .slctr .dd2 .ddTitle span.ddTitleText { color:#00adef; font-weight:bold; line-height:19px!important;}
    .slctr #per_page_select_msdd .ddChild { width:46px!important;}
.col2SlPrd #CollapsiblePanel1 .CollapsiblePanelContent,.col2SlPrd #CollapsiblePanel2 .CollapsiblePanelContent,.col2SlPrd #CollapsiblePanel3 .CollapsiblePanelContent,.col2SlPrd #CollapsiblePanel4 .CollapsiblePanelContent,.col2SlPrd #CollapsiblePanel5 .CollapsiblePanelContent,.col2SlPrd #CollapsiblePanel6 .CollapsiblePanelContent,.col2SlPrd #CollapsiblePanel7 .CollapsiblePanelContent,.col2SlPrd #CollapsiblePanel8 .CollapsiblePanelContent,.col2SlPrd #CollapsiblePanel9 .CollapsiblePanelContent,.col2SlPrd #CollapsiblePanel10 .CollapsiblePanelContent,.col2SlPrd #CollapsiblePanel11 .CollapsiblePanelContent,#CollapsiblePanel12 .CollapsiblePanelContent { padding-bottom:10px;}

.slrVwr { margin-top:8px;}
  .slrVwr .slrVwrT { height:22px; background:url('/images/bgs/slr_vwr_top.png') no-repeat;}
    .slrVwrT h3 { float:left; width:50%; margin:4px 0 0 10px; font-size:12px; color:#626262;}
  .slrVwr .slrVwrC { background:url('/images/bgs/slr_vwr_cntr.png') repeat-y;}
  .slrVwr .slrVwrB { background:url('/images/bgs/slr_vwr_btm.png') no-repeat;}
  .slrVwrT,.slrVwrC,.slrVwrB { width:938px}
    .slrVwrC .usr { width:290px; margin:16px 0 16px 18px; position:relative;}
      .slrVwrC .usr i {}
      .slrVwrC .usr span { position:absolute; left:0; top:65px; width:82px; height:18px; text-align:center; line-height:18px; font-size:12px; color:#4d4d4d; background:url('/images/bgs/rtr_btm_bg.png') no-repeat;}
      .slrVwrC .usr p { position:absolute; width:224px; height:79px; left:67px; top:-5px; background:url('/images/bgs/slr_vwr_pop.png') no-repeat;}
        .slrVwrC .usr p b { width:191px; text-align:center; margin:18px 0 0 28px; font-size:11px; color:#707070;}
.slrVwr,.slrVwrT,.slrVwrC,.slrVwrB,.slrVwrC .usr,.slrVwrC .usr i,.slrVwrC .usr p b { float:left;}
.slrVwr { width:100%;}

/* Product Page */
#pdSm { position:relative;}
#pdSm .bCrmp { margin-top:0; width:932px; border-right:1px solid #b6b6b6; height:35px; background:url('/images/bgs/fltr_bg.png') repeat-x;}
  #pdSm .bCrmp ul { width:450px; margin-top:10px;}
  #pdSm .bCrmp ul li {margin-right:8px; font-size:11px;}
    #pdSm .bCrmp ul li a {}
    #pdSm .bCrmp ul li img {margin-top:-3px;}
  #pdSm .pdSrch { position:absolute; top:-1px;right:-261px; border-top:1px solid #b6b6b6; width:361px; height:47px; background:url('/images/bgs/prdct_srch.png') no-repeat}
  .pdSrch form {width:100%;}
    .pdSrch .txt {width:180px; height:20px; margin:12px 0 0 50px; font-weight:bold; color:#787878; border:0px;}
    .pdSrch .sbmt {width:113px; height:30px; margin:6px 0 0 8px; font-weight:bold; color:#fff; border:0px; background:none;}
  .strip { position:absolute; right:-26px; top:54px; z-index:1;}
  .col2Invty {padding-top:40px;}
    .col2Invty .pLa { margin:0 5px 0 15px; padding-right:7px; border-right:1px solid #595959;}
  .col2Invty a { font-size:14px; font-weight:bold; color:#208faf;}
  .col2P { margin-top:108px!important;}
  .fbPnl { width:100%; height:95px; background:url('/images/bgs/fb_bg.png') repeat-x;}
    .cros { margin:23px 0 0 15px;}
    .fbPnl p { float:left; margin:15px 0 0 15px; width:600px;}
    .fbPnl p a { float:right;}
  .smPrdcts { width:100%; border-top:5px solid #e5e2e2;}
  .smPrdcts > .pagination, .smPrdcts > .blogPg, .smPrdcts > .slctr.slct { margin: 10px 0 0 0;}
    .slctr.slct {margin-left: 18px !important;}
  .smPrdcts .smPd { width:96%; padding:2%;border-bottom:5px solid #e5e2e2;}
    .smPd .imgP { width:117px; height:114px; margin-right:15px; background:url('/images/bgs/product_img_bg.png') no-repeat;}
      .smPd .imgP img { margin:5px 0 0 8px;}
    .pdDtl { width:240px;}
      .pdDtl h4 { float:left; width:100%; padding-bottom:3px; margin:0; font-size:18px; color:#29b6de;}
        .pdDtl h4 a { color: inherit;}
      .pdDtl p { float:left; width:100%; font-size:12px;color:#787878;}
      .pdDtl .revw { float:left; width:60px;}
        .pdDtl .revw em { float:left; width:23px; font-style:normal; height:23px;font-size:11px; margin-left:9px; color:#5d5c5c; text-align:center; line-height:23px; background:url('/images/forms/rvw_bg.png') no-repeat;}
        .pdDtl .revw span { clear:both; float:left; font-size:11px; color:#868686;}
        .rTe { float:right; width:215px;}
          .rTe .rT { float:left; width:100%; text-align:right; font-size:36px; color:#89be50;}
          .rTe .oRt {float:left;width:100%;text-align:right;font-style:normal;font-size:11px;color:#df5050; text-decoration:line-through;}
          .rTe .avB a {float:left;width:100%;text-align:right; font-size:11px; font-weight:bold; color:#29b6de;}
          .rTe p {float:left;width:45%;font-size:11px; font-weight:bold; color:#898989; margin-top:15px;}
          .rTe p .qt { float:left; font-style:normal;}
          .rTe p .avl {float:left; font-style:normal; margin-left:5px;color:#29b6de;}
          .rTe ul { float:right; width:65px; margin-top:10px;}
            .rTe ul li { float:left; margin-left:5px;}
            .rTe .cntcts { margin:0 0 0 5px;}
        .rTe .qtav { float:left; width:105%; margin-top:0;} 
          .rTe .qtav i { float:left;font-style:normal; width:48%; font-weight:bold; font-size:11px; color:#898989;} 
            .rTe p i label {float:left; color:#00adef;}
            .rTe .skBlu { float:left; width:71px; height:21px; line-height:21px; margin-left:0; margin-top:3px; background:url('/images/forms/sky_bg.png') no-repeat;}
        .rTe .bLu { float:left;width:85px;height:21px;line-height:21px;margin-top:3px;background:url('/images/forms/blue_bg.png') no-repeat;}
        .slct .dd2 .ddTitle span.arrow {background:url('/images/icons/sler_srch_ico.png') no-repeat scroll 5px 5px transparent !important;}
#pdSm .bCrmp,#pdSm .bCrmp ul,#pdSm .bCrmp ul li,#pdSm .bCrmp ul li a,#pdSm .bCrmp ul li img,.pdSrch form,.pdSrch .txt,.pdSrch .sbmt,.fbPnl,.cros,.smPrdcts,.smPd,.smPd i,.smPd i img,.pdDtl { float:left;}
.pdSrch .sbmt { cursor: pointer; }

.tansBg {
    float: left;
    width: 100%;
    padding: 10px 0;
    background: url(/images/slider/wht_trans.png);
}
.prossr {
    float: left;
    width: 220px;
    margin: 10px 20px;
}
.minMaxTxt {
    width: 48px;
    height: 19px;
    font-weight: bold;
    padding-left: 5px;
    border: none;
    color: white;
    background: url('/images/slider/prssr_txt.png') no-repeat;
}

/* Rating Fixs */
.bc { position:relative;}
    .abtStrp { position:absolute; left:-26px; top:-30px;}
.abtSlrCnt { float:left; width:100%;}
.abtSlrCntPad { width:94%; padding:0 3% 20px 3%;}
    .abtSlrCntPad h2 { float:left; width:100%; font-size:14px; color:#6b97a8;}
    .abtSlrCntPad b,.abtSlrCntPad p { float:left; width:98%; margin-left:2%; font-size:12px; color:#757879;}
    .bdr5p { float:left; width:100%; height:5px; background:#e5e2e2; margin-top:20px;}
    
    .shpng2 { width:231px; margin:3px 0 0 12px;}
            .grnTop {height:31px;}
                .grnTop h6 {color:#fff; text-align:center; line-height:29px;margin:0; font-size:14px; text-shadow:2px 3px 5px #444;}
        .grnTbl .grnCntr { background:url('/images/layout/grn_cntr.png') repeat-y;}
            .grnTbl .grnCntr p { float:left; width:85%;color:#878686; margin:10px 0 0 20px;}
                .grnTbl .grnCntr p b { color:#0668a0;}
            .grnCntr .grnTtl {width:90%;margin:8px 0 0 16px;}
        .grnTbl .bluTop {background:url('/images/layout/blue_top.png') no-repeat;} 
        .grnTbl .grnBtm { height:27px; background:url('/images/layout/grn_btm.png') repeat-y;}
        .lstMrg { float:left; width:100%; *height:10px;}
.shpng2,.shpng2 .grnTbl,.grnTop,.shpng2 .grnCntr,.shpng2 .grnBtm,.grnCntr p,.grnCntr p span,.grnDtl b,.grnCntr .sws,.sws i,.sws em,.shpng2 .cntnu { float:left}

.shpng2 .grnTbl,.grnTop,.grnTop h6,.shpng2 .grnCntr,.shpng2 .grnBtm { width:100%;}

/* Customer Service */
.padB0 { padding-bottom:0;}
.bdr5pMr { margin-top:0;}
.apPnl { float:left; min-height:110px; width:293px; border-right:5px solid #e5e2e2!important;}
.noBdr { border:none!important;}
.wRp { width:500px; margin:0 auto;}
.srvFrm {width:470px; border:1px solid #ced4d7; margin-top:20px;}
.srvFrm form {width:428px; padding:15px 0 0 30px; border:6px solid #eef5f7;}
.srvFrm,.srvFrm form {float:left;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
    /* Combo Option 9 */
    .cmbo9 {float:left;width:290px!important;position:relative; padding-bottom:15px;}
        .cmbo9 .dd2 {display: inline-block !important;float: left;font-family: Arial,Helvetica,sans-serif;font-size: 11px;height: 40px;margin-top:0; margin-left:0px;text-align: left;width:290px!important;}
            .cmbo9 .dd2 .ddTitle {background: url("/images/forms/cntct_slr_cmbo_txt.png") no-repeat;cursor: default;height: 40px;overflow: hidden;padding-left: 10px;text-indent: 0; text-shadow:0 1px #fff; font-weight:bold;}
                .cmbo9 .dd2 .ddTitle span.arrow {float: right;width:29px;height: 28px;position:relative;right:6px;top:6px;background:url("/images/forms/cntct_slr_cmbo_ico.png") no-repeat 0 0!important;cursor: pointer;display: inline-block;}
                .cmbo9 #websites1_title:hover span.arrow {background-position: 0 0!important;}
                .cmbo9 .dd2 .ddTitle span.ddTitleText {color:#798e94;font-size:11px;line-height:39px;overflow:hidden;text-indent:1px;}
                .cmbo9 .dd2 .ddChild {position:absolute; left:5px;top:35px !important;width:280px !important;margin:0;display:none;font-size:11px;overflow-x:hidden!important;overflow-y:auto;z-index:1000; border:1px solid #ced4d7!important; border-top:none!important;}
                .cmbo9 .dd2 .ddChild a.selected,.cmbo9 .dd2 .ddChild a:hover { background:#f2f7f9;}
                .cmbo9 .dd2 .ddChild a { color:#798e94;}
    /* End Combo Option 9 */
    
.srvFrm form .txtA { float:left; width:398px;border:6px solid #eef5f7;}
.srvFrm form textarea { float:left; width:386px; height:133px; padding:5px;color:#798e94; font-weight:bold; font-size:11px;border:1px solid #ced4d7;}
.srvFrm form .txtA,.srvFrm form textarea {-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.cSSbmt { float:right; width:125px; height:40px; border:none; margin:15px 10px; background:url('/images/forms/cntct_slr_cmbo_sbmt.png') no-repeat; cursor:pointer;}

/* Shipping Page */
.iEHk { *position:absolute!important; *top:-473px!important;}
.spngTbl { float:left; width:637px; font-size:14px; border-left:1px solid #d8dde0;border-right:1px solid #d8dde0; font-weight:bold; font-family:"Times New Roman", Times, serif;}

.spngHd {padding:5px 0;text-align:center;background:#e5e2e2; font-family:Helvetica;}
    .spngHd h2 {border:none; margin:0;}
    
/* Buyer Product Details */
.jNt { float:left; width:641px; margin:0 0 0 15px;}
    .col2 .vwer { float:left; border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; }
.mag0 { margin:10px 0 0 0!important; width:263px!important;}
    .mag0 p { left:70px!important;}

.rts1 {float:left; width:95%; margin:0 0 0 5%;}
    .rts1 h2 { margin:0; font-size:24px; color:#89be50; position:relative;}
    .rts1 h2 b {font-size:14px; color:#6e6f6e; position:absolute; left:80px; top:5px;}
    .rts1 b { float:left; width:100%; padding-bottom:3px; color:#6e6f6e; font-size:12px}
        .rts1 b span { color:#f5434a;}
    .rts1 a { font-size:10px; color:#00adef; text-decoration:underline;}
.mrg5 { margin-top:5px;}
    .rts1 big b { margin-top:30px; font-size:16px;}
.rts1 .cntcts { margin:0 0 0 5px;}
    .rts1 p { width:101%;} 
        .rts1 p i, .rts1 .str i { float:left;font-style:normal; width:55%; font-weight:bold; font-size:11px; color:#898989;} 
            .rts1 p i label, .rts1 .str label { color:#00adef;}
            
    .rts1 .str b { background:none; float:right; margin:0 2px 0 0; height:auto; width:auto;}
.rts1 .prc { float:left; width:100px; font-size:24px; margin:10px 0 0 10px; color:#89be50;}
        .rts1 .prc span { font-size:12px; color:#a9a9a9;}
        .rts1 ul { float:right; width:65px; margin:20px 0 0 0;}
            .rts1 ul li { float:left; margin-right:3px;}
    .rts1 .skBlu { float:left; width:71px; height:21px; color:#fff; line-height:21px;text-decoration:none; margin-left:15px; margin-top:3px; background:url('/images/forms/sky_bg.png') no-repeat;}
        .rts1 .bLu { float:left;width:85px;height:21px; color:#fff; text-decoration:none;line-height:21px;margin-top:3px;background:url('/images/forms/blue_bg.png') no-repeat;}
.colsPC .bdr5p { margin-top:0; background:#959595;}

/* Return Policy */
.rtrnUl {float:left; width:98%; margin-left:2%; font-size:12px; color:#757879;}
.rtrnUl li {float:left; width:95%; padding:0 0 5px 15px; background:url('../../images/icons/rtrn_li_blt.png') left 3px no-repeat;}
.slrFdPad {margin-left:20px; *padding-left:20px;}
    .slrFdPad h2 { float:left; width:98%; margin:25px 0 0 0; color:#00adef; font-size:20px;}
    .pPgCmbo { float:right; margin:-20px 45px 0 0}
        .pPgCmbo b { float:right; margin:3px 8px; font-weight:normal; color:#838383;}
        
        /* Combo Option 8 */
        .cmbo8 {float:right;width:58px!important;position:relative;}
            .cmbo8 .dd2 {display: inline-block !important;float: left;font-family: Arial,Helvetica,sans-serif;font-size: 11px;height: 23px;margin-top:0; margin-left:0px;text-align: left;width:58px !important;}
                .cmbo8 .dd2 .ddTitle {background: url("../../images/forms/fdbck_top_cmbo.png") no-repeat;cursor: default;height: 24px;overflow: hidden;padding-left: 10px;text-indent: 0; text-shadow:0 1px #fff; font-weight:bold;}
                    .cmbo8 .dd2 .ddTitle span.arrow {float: right;width:17px;height: 24px;position:relative;right:0px;top:0px;background:url("../../images/forms/fdbck_top_cmbo_ico.png") no-repeat 0 0!important;cursor: pointer;display: inline-block;}
                    .cmbo8 #websites1_title:hover span.arrow {background-position: 0 0!important;}
                    .cmbo8 .dd2 .ddTitle span.ddTitleText {color:#626262;font-size:11px;line-height:24px;overflow:hidden;text-indent:1px;}
                    .cmbo8 .dd2 .ddChild {position:absolute;top:24px !important;width:56px !important;margin:0;display:none;font-size:11px;overflow-x:hidden!important;overflow-y:auto;z-index:1000;}
        /* End Combo Option 8 */

.fdBack { width:611px; height:86px; margin:0; padding-bottom:10px; background:url('../../images/bgs/slr_fdback_bg.png') right top no-repeat!important;}
    .rtr { width:82px; height:83px; margin-top:5px; position:relative;}
    .fdBack .smlRtng { margin-top:2px;} 
        .rtr span { position:absolute; z-index:1; width:82px; height:18px; background:url('../../images/bgs/rtr_btm_bg.png') no-repeat; left:0; bottom:0; text-align:center; font-size:12px; font-style:normal; color:#4d4d4d; font-weight:bold; line-height:18px;}
    .fdBack p {width:470px; font-size:12px; color:#787878; margin:18px 0 0 45px; padding-bottom:6px; background:url('../../images/forms/fdback_line.png') center bottom no-repeat;} 
    .fdBack .itmN { float:right; color:#00adef; margin:2px 25px 0 0;}
    .smlRtng { float:left; width:150px; margin:5px 0 0 45px;}
    .fdBack1 { width:166px; height:60px;background:url('../../images/bgs/left_fdback_bg.png') no-repeat;}
        .fdBack1 a { float:left; width:100%; margin-top:10px; text-align:center; font-size:11px; color:#717171;}
    .blogFtr {width:100%;padding:15px 0;}
        .blogPg { margin-left:25px;ciolor:#777;}
            .blogPg p { height:28px;line-height:28px;}
                .blogPg p b { font-size:16px;padding:0 5px;}
        .gry { color:#707070; font-size:16px!important;}
.fdBck,.fdBck h2,.fdBack,.rtr,.fdBack p,.fdBack1,.blogFtr, .blogPg, .blogPg p {float:left;}


.smallLatestQuotes { width: 84px;}
