/* Authors:zainansari@live.com, aminusman@hotmail.com :Creation Date:29-July-2011 Updation Date:N-A*/

/* General Boxes */
body { font-family:helvetica,arial,clean,sans-serif;}
a { text-decoration:none;}
ul li { list-style:none;}

/* Header */
#mHdr { padding-top:11px;}

.hd1A {}

.hd1B { width:245px;}
	.loginBar { width:100%;}
		.loginBar i { padding-right:10px;margin-right:10px;font-style:normal;background:url('../../images/forms/sgnup_line.gif') right no-repeat;}
		.loginBar a { color:#787878;font-weight:bold;}
		.loginBar .crt { margin-left:10px;}
	ul.tpMnu {width:100%;margin-top:10px;}
		ul.tpMnu li {font-size:12px;font-weight:bold;margin-right:7px;padding-right:7px;border-right:1px solid #787878;}
		ul.tpMnu li a { color:#29b6de;}
		ul.tpMnu li.last, ul.mMenu li.last { margin:0;padding:0;border:none;background:none;}
.hd2 { width:100%;margin-top:20px;}
	.menu { width:540px;}
		.menu .lft {background:url('../../images/forms/mnu_lft.png') no-repeat;}
		ul.mMenu {width:520px;background:url('../../images/forms/mnu_cntr.png') repeat-x;}
		.menu .rgt {background:url('../../images/forms/mnu_rgt.png') no-repeat;}
		.menu .lft, ul.mMenu,.menu .rgt { height:32px;}
		.menu .lft,.menu .rgt {width:10px;}
		ul.mMenu li {padding-right:19px;margin-right:10px;font-weight:bold;text-transform:uppercase;background:url('../../images/forms/mnu_line.png') right no-repeat;}
			ul.mMenu li a { height:32px;line-height:32px;font-size:10px;color:#fff;}
			ul.mMenu li a:hover, ul.mMenu li a.active { color:#c8f4fd;}
	.tSrch { width:375px;height:32px;background:url('../../images/bgs/srch_bg.png') left no-repeat;}
		.tSrch form { width:100%;}
			.tSrch form .allProd { margin:11px;}
		.tSrch input[type=text] { width:192px;height:14px;border:none;background:none;margin:9px;}
		.tSrch .allProd { }
		.tSrch input[type=submit] { width:32px;height:32px;cursor:pointer;border:none;margin-left:5px;background:url('../../images/forms/go_btn.png') no-repeat;}
	.pAbb { position:relative;}
		.pAbb .dd2 .ddChild {width:120px!important; top:30px!important;}
		.pAbb .dd2 {width:120px!important; margin-top:5px!important;}
		.pAbb .dd2 .ddTitle {background:none!important;}
		.cHme {margin-left:-10px; float:left; width:135px;}
		.pAbb .dd2 .ddTitle span.arrow { background:url('../../images/icons/red_arw.png') 5px 6px no-repeat!important;}
.hd1B, .tSrch { float:right;}
.hd1A, .hd2,.loginBar,.loginBar i,.loginBar a, ul.tpMnu, ul.tpMnu li, ul.tpMnu li a, ul.mMenu, ul.mMenu li, ul.mMenu li a,.menu,.menu .lft,.menu .rgt,.tSrch input[type=text],.tSrch form,.allProd,.tSrch input[type=submit] {float:left;}

/* Content */
#mCnt{}
	.slrPrfl {}
        .slrPrfl h1 {font-size:19px; margin-bottom:10px; color:#00adef !important;}
		.slrPrfl .TabbedPanelsTab > span {width:100%;text-align:center;line-height:37px;}
		.TabbedPanelsTab a { float:left;width:100%;text-align:center;line-height:37px; color:#fff;}
		.prfl {width:165px; text-align:center; margin: 2px 0 0 9px;}
			.prfl .top {background:url('/images/bgs/sp_tab_img_top.png') no-repeat;}
			.prfl .cntr { padding-bottom:5px;text-align:center;background:url('/images/bgs/sp_tab_img_cntr.png') repeat-y;}
			.prfl .btm {background:url('/images/bgs/sp_tab_img_btm.png') no-repeat;}
			.prfl .top,.prfl .btm {height:7px;}
				.prfl .cntr b { width:100%; text-align:center; padding-bottom:5px; color:707070; font-size:14px;}
			.prfl i { height:115px;text-align:center; background:url('../../images/bgs/spt_img_bg.png') 18px 0 no-repeat;}
				.prfl i img { margin-top:8px;}
			.vsp { float:left; margin:15px;}
			.slrPrfl .TabbedPanelsContent { border:1px solid #b3b3b3; border-top:none;float:left; width:920px; padding-bottom:20px;}
			.slrPrfl .sptCnt { width:725px; margin: -10px 10px 0 10px;}
			.sptCnt .top { margin-top:12px;background:url('/images/bgs/spt_cnt_top.png') no-repeat;}
			.sptCnt .cntr { padding-bottom:20px;background:url('/images/bgs/spt_cnt_cntr.png') repeat-y;}
			.sptCnt .btm {background:url('/images/bgs/spt_cnt_btm.png') no-repeat;}
			.sptCnt .top,.sptCnt .btm {height:7px;}
				.sptCnt .cntr h2 { width:709px; margin:0 0 0 8px; padding-bottom:5px; border-bottom:1px solid #ececec; text-align:center; color:#00adef; font-size:23px;}
				.sptCnt .cntr .pnl {width:250px; height:220px;margin-top:25px;padding-left:15px;background:url('../../images/forms/vert_line.png') right top repeat-y;}
				.sptCnt .cntr .pnl1 { width:225px;}
					.pnl1 .iNfo { margin-top:30px;}
				.sptCnt .cntr .pnl2 {}
				.sptCnt .cntr .pnl3 { width:200px; background:none;}
					.cntr .pnl b { font-size:15px; color:#707070;}
					.cntr .pnl p { width:95%; height:120px; margin-left:5%; margin-top:10px;color:#707070; font-size:14px; line-height:21px;}
						.cntr .pnl p span {}
					.cntr .pnl a { color:#707070; font-size:14px;}
					.adAd { width:150px; margin-left:15px; color:#00adef!important;font-weight:bold; padding-left:20px; background:url('/images/icons/grn_plus.png') left no-repeat;}
					.iNfo { float:right; margin:15px;}
					.pnlFix { height:120px!important;}
					
	.inbxTabs { margin:10px 0 0 10px; width:99%;}
		.inbxTabs .TabbedPanels {background:url('/images/bgs/inbx_int_tab_top.png') no-repeat;}
	.inbxNav { margin:10px 0 0 10px;}
		.inbxNav li {}
			.inbxNav li a { height:27px;}
			.inbxNav li.nav1 a { width:71px;background:url('/images/forms/delete.png') no-repeat;}
			.inbxNav li.nav1 a:hover {background:url('/images/forms/delete_h.png') no-repeat;}
			.inbxNav li.nav2 a { width:112px;background:url('/images/forms/mark_as_unread.png') no-repeat;}
			.inbxNav li.nav2 a:hover {background:url('/images/forms/mark_as_unread_h.png') no-repeat;}
			.inbxNav li.nav3 a { width:94px;background:url('/images/forms/mark_as_read.png') no-repeat;}
			.inbxNav li.nav3 a:hover {background:url('/images/forms/mark_as_read_h.png') no-repeat;}
			.inbxNav li.nav4 a { width:120px;background:url('/images/forms/mark_as_important.png') no-repeat;}
			.inbxNav li.nav4 a:hover {background:url('/images/forms/mark_as_important_h.png') no-repeat;}
			.cFix .sptCnt {margin-left:10px;}	
		.cFix .sptCnt .top { margin-top:0!important;}
		.inbx { width:712px; margin:2px 0 0 7px;}
			.inbx .tp {background:url('/images/bgs/inbx_t.png') no-repeat;}
			.inbx .cent {text-align:center;background:url('/images/bgs/inbx_c.png') repeat-y;}
			.inbx .bt {background:url('/images/bgs/inbx_b.png') no-repeat;}
			.inbx .tp,.inbx .bt {height:10px;}
			.sndrInfo { width:695px; margin-left:7px; padding:9px 0 5px 0; border-bottom:1px solid #d3d3d3;}
				.sndrInfo span { float:left; width:302px; font-size:12px; font-weight:bold; color:#4d4d4d; padding-left:5px; text-align:left; margin-left:181px;border-right:1px solid #d3d3d3;}
				.lL { width:100px!important; margin:0!important; border:0!important;} 
				.tabBag { float:left; height:18px; width:163px;background:url('/images/bgs/inbx_int_tab_btm.png') no-repeat!important;}
/* Check boxes code */
.checkbox {clear:left;float:left;width:18px;height:18px;margin: 0 0 3px;padding: 0 0 0 26px;background:url('/images/icons/inbx_checkbox.png') no-repeat;cursor: default;}
.checkbox input,.radio input {display: none;}
.checkbox input.show,.radio input.show {display: inline;}
.selected {background-position: 0 -50px!important;}
.block {width: 50%;float: left;}
.lbl {float:left; width:163px; height:18px; color:#4d4d4d; line-height:18px; font-size:12px; margin:0 0 0 30px; padding-left:5px; font-weight:bold; border-left:1px solid #d3d3d3;text-align:left;font-style:normal;border-right:1px solid #d3d3d3;}
/* Check boxes code */

	.msg1,.msg2 { width:705px; height:21px; padding:4px 0 3px 7px; font-size:12px; font-weight:bold;color:#4d4d4d; text-align:left;}
		.msg1 a,.msg2 a { width:170px; text-align:left; margin-left:16px; color:#4d4d4d; font-weight:bold;}
	.msg2 { background:url('/images/bgs/alt_msg_bg.png') left top repeat-x;}
	.msg1 span,.msg2 span { float:left; width:307px;}
	.msg1 i,.msg2 i { float:left; font-style:normal;}
	
/* Pagination */
.pagination{float:right; padding:2px; margin-top:10px;}
	.pagination .prev { float:left; width:65px; height:19px; text-align:center;}
	.pagination .nxt { float:left; width:65px; height:19px; text-align:center;} 
	.pagination ul{ margin:0;padding:0;text-align:left;/*Set to "right" to right align pagination interface*/font-size:12px;}
	.pagination li{ float:left;margin-right:5px; list-style-type:none;display:inline;padding-bottom:1px;}
	.pagination a, .pagination a:visited{ float:left;background:url('../../images/layout/bg_page.jpg') 0 0 no-repeat;text-decoration:none;color:#777;width:19px;height:19px; text-align:center; line-height:19px;}
	.pagination a:hover, .pagination a:active{color:#fff;background:url('../../images/layout/bg_page_h.jpg') 0 0 no-repeat;}
	.pagination a.currentpage{ color:#fff !important;background:url('/images/layout/bg_page_h.jpg') 0 0 no-repeat;font-weight:bold;cursor:default;}
	.pagination a.disablelink{ background:url('/images/layout/prevnext_d.jpg') 0 0 no-repeat!important;cursor:pointer;color:#777!important;}
	.pagination a.disablelink:hover{background:url('../../images/layout/prevnext_a.jpg') 0 0 no-repeat!important;color:#fff!important;}
	.pagination a.prevnext{ float:left; width:67px; font-weight:bold;background:url('/images/layout/prevnext_a.jpg') 0 0 no-repeat;color:#fff;}
	
	.sptCnt .hct1 { float:right; margin-right:22px; position:relative;}
		.sptCnt .hct1 .dd2 { width:127px!important;}
		.sptCnt .hct1 .dd2 .ddTitle {background:url('/images/forms/inbx_cmbo.png') no-repeat;padding-left:10px;height:32px;}
		.sptCnt .hct1 .dd2 .ddTitle span.arrow {background:url('/images/icons/inbx_cmbo_arw.png') no-repeat 0 -1px!important; float:right; display:inline-block;width:21px; height:22px; margin:7px; cursor:pointer;position:relative;}
	.sptCnt .dd2 .ddTitle span.ddTitleText { line-height:32px; font-size:12px; font-weight:bold!important;}
		.sptCnt .dd2 .ddChild { width:127px!important; top:33px!important;}
		.sptCnt .dd2 .selected { font-size:12px; font-weight:bold!important;}

.slrPrfl,.slrPrfl h1,.prfl .top,.prfl .cntr,.prfl .btm,.prfl i,.sptCnt .cntr,.sptCnt .top,.sptCnt .btm,.cntr .pnl b,.cntr .pnl p span,.inbx .tp,.inbx .tp,.inbx .bt,.inbx .cent {width:100%;}
.slrPrfl,.slrPrfl h1,.TabbedPanelsTab span,.prfl,.prfl .top,.prfl .cntr,.prfl .btm,.prfl i,.slrPrfl .sptCnt,.sptCnt .cntr,.sptCnt .top,.sptCnt .btm,.sptCnt .cntr h2,.sptCnt .cntr .pnl,.cntr .pnl b,.cntr .pnl p,.cntr .pnl p span,.adAd,.prfl .cntr b,.inbxTabs,.inbxTabs .tp,.inbxNav,.inbxNav li,.inbxNav li a,.inbx,.inbx .tp,.inbx .tp,.inbx .bt,.sndrInfo,.inbx .cent,.msg1,.msg1 a,.msg2 a,.msg2 {float:left;}

/* Footer */
#mFtr{ margin-top:20px;}
	.f1A { width:100%;height:51px;padding-top:11px;background:url('/images/bgs/ftr_bg.png') repeat-x;}
		.f1A b { width:500px;font-size:18px;text-shadow:2px 2px #ccc;color:#4d4d4d;}
		.f1A em { width:500px;font-style:normal;font-size:11px;color:#a2a2a2;font-weight:bold;}
	ul.f1B { float:right;width:130px;}
		ul.f1B li { margin-right:5px;}
		ul.f1B li a { }
	
	.f2 { width:100%;padding-bottom:20px;}
	.f2 ul { width:100%;padding:10px 0;}
		.f2 ul li { margin-right:15px;}
		.f2 ul li a { color:#787878;font-size:11px;font-weight:bold;text-decoration:underline;}
	.f2 img { }

.f1A, .f1A b, .f1A em, ul.f1B li, ul.f1B li a, .f2, .f2 ul, .f2 ul li, .f2 ul li a, .f2 img {float:left;}

.crsl { width:100%;}

	.crsl img { idth:122px;height:100px;margin:2px 32px 0 6px;}
	.crsl a { clear:left;color:#4d4d4d;font-weight:bold;font-size:12px;margin:4px 0 0 15px;}
	.crsl .lHd { width:200px;margin-top:10px;}
	.crsl .lHdI { width:200px;font-size:11px;color:#4d4d4d;font-style:normal;margin-top:5px;}
	.crsl .byTh { width:200px;margin-left:45px;*margin-left:0;*margin-top:20px;font-size:12px;color:#89be50;}
	.byPrc {font-size:12px;color:#df5050;}
	
.crsl, .crsl img, .crsl a, .crsl .lHd, .crsl .lHdI, .crsl .byTh, .byPrc { float:left;}	
	
	/* Layout-1 */
	.lyOut1{ float:left; width:422px;}
	.lyOut1 .cC{width:420px; padding-bottom:17px;}
		.tL{background:url('/images/layout/spritecrnrbg.jpg') left top;}
		.tR{background:url('/images/layout/spritecrnrbg.jpg') right top;}
		.bL{background:url('/images/layout/spritecrnrbg.jpg') left bottom;}
		.bR{background:url('/images/layout/spritecrnrbg.jpg') right bottom;}
		.cC{ background:#ebebeb;}
			.altRow1{ background:none; height:36px;}
			.altRow2{ background:#e1e1e1; height:36px;}
		.tL,.tR,.bL,.bR{ height:7px;}
		.tL,.bL,.cC,.altRow1,.altRow2,.untFx{float:left;width:100%;}
		.cC{border:1px solid #acacac; border-top:none; border-bottom:none; width:100%;}
		.tR,.bR{float:right;width:99%;}
		/* Layout */
		
/* Fixs */
.mrFx { float:left; width:100%; height:7px;}


#seller_profile {display: none;}
