/* Authors:zainansari@live.com, aminusman@hotmail.com :Creation Date:29-July-2011 Updation Date:N-A*/
@import "reset.css";
@import "base.css";
@import "grids.css";
@import "fonts.css";

/* General Boxes */
body { font-family:helvetica,arial,clean,sans-serif;}
a { text-decoration:none;}
ul li { list-style:none;}
.TabbedPanelsTab span { float:left; width:100%;text-align:center;line-height:19px;}

a:hover {opacity: 0.8;}


/* Header */
#mHdr { padding-top:11px;}

.hd1A {}

.hd1B { width:245px;}
  .loginBar { width:100%;}
    .loginBar i { padding-right:10px;margin-right:10px;font-style:normal;background:url('/images/forms/sgnup_line.gif') right no-repeat;}
    .loginBar a { color:#787878;font-weight:bold;}
    .loginBar .crt { margin-left:10px;}
  ul.tpMnu {width:100%;margin-top:10px;}
    ul.tpMnu li {font-size:12px;font-weight:bold;margin-right:7px;padding-right:7px;border-right:1px solid #787878;}
    ul.tpMnu li a { color:#29b6de;}
    ul.tpMnu li.last, ul.mMenu li.last { margin:0;padding:0;border:none;background:none;}
.hd2 { width:100%;margin-top:20px;}
  .menu { width:540px;}
    .menu .lft {background:url('/images/forms/mnu_lft.png') no-repeat;}
    ul.mMenu {width:520px;background:url('/images/forms/mnu_cntr.png') repeat-x;}
    .menu .rgt {background:url('/images/forms/mnu_rgt.png') no-repeat;}
    .menu .lft, ul.mMenu,.menu .rgt { height:32px;}
    .menu .lft,.menu .rgt {width:10px;}
    ul.mMenu li {padding-right:19px;margin-right:10px;font-weight:bold;text-transform:uppercase;background:url('/images/forms/mnu_line.png') right no-repeat;}
      ul.mMenu li a { height:32px;line-height:32px;font-size:10px;color:#fff;}
      ul.mMenu li { line-height:32px;font-size:10px;color:#c8f4fd;}
      ul.mMenu li a:hover, ul.mMenu li a.active { color:#c8f4fd;}
  .tSrch { width:375px;height:32px;background:url('/images/bgs/srch_bg.png') left no-repeat;}
    .tSrch form { width:100%;}
      .tSrch form .allProd { margin:11px;}
    .tSrch input[type=text] { width:192px;height:14px;border:none;background:none;margin:9px;}
    .tSrch .allProd { }
    .tSrch input[type=submit] { width:32px;height:32px;cursor:pointer;border:none;margin-left:5px;background:url('/images/forms/go_btn.png') no-repeat;}
  .pAbb { position:relative;}
    .pAbb .dd2 .ddChild { width:120px!important; top:30px!important;}
    .pAbb .dd2 { width:120px!important; margin-top:5px!important;}
    .pAbb .dd2 .ddTitle { background:none!important;}
    .cHme { margin-left:-10px; float:left; width:135px;}
    .pAbb .dd2 .ddTitle span.arrow { background:url('/images/icons/red_arw.png') 5px 6px no-repeat!important;}
.hd1B, .tSrch { float:right;}
.hd1A, .hd2,.loginBar,.loginBar i,.loginBar a, ul.tpMnu, ul.tpMnu li, ul.tpMnu li a, ul.mMenu, ul.mMenu li, ul.mMenu li a,.menu,.menu .lft,.menu .rgt,.tSrch input[type=text],.tSrch form,.allProd,.tSrch input[type=submit] {float:left;}

/* Footer */
#mFtr{ margin-top:20px;}
  .f1A { width:100%;height:51px;padding-top:11px;background:url('/images/bgs/ftr_bg.png') repeat-x;}
    .f1A b { width:500px;font-size:18px;text-shadow:2px 2px #ccc;color:#4d4d4d;}
    .f1A em { width:500px;font-style:normal;font-size:11px;color:#a2a2a2;font-weight:bold;}
  ul.f1B { float:right;width:130px;}
    ul.f1B li { margin-right:5px;}
    ul.f1B li a { }
  
  .f2 { width:100%;padding-bottom:20px;}
  .f2 ul { width:100%;padding:10px 0;}
    .f2 ul li { margin-right:15px;}
    .f2 ul li a { color:#787878;font-size:11px;font-weight:bold;text-decoration:underline;}
  .f2 img { }

.f1A, .f1A b, .f1A em, ul.f1B li, ul.f1B li a, .f2, .f2 ul, .f2 ul li, .f2 ul li a, .f2 img {float:left;}

.crsl { width:100%;}

  .crsl img { idth:122px;height:100px;margin:2px 32px 0 6px;}
  .crsl a { clear:left;color:#4d4d4d;font-weight:bold;font-size:12px;margin:4px 0 0 15px;}
  .crsl .lHd { width:200px;margin-top:10px;}
  .crsl .lHdI { width:200px;font-size:11px;color:#4d4d4d;font-style:normal;margin-top:5px;}
  .crsl .byTh { width:200px;margin-left:45px;*margin-left:0;*margin-top:20px;font-size:12px;color:#89be50;}
  .byPrc {font-size:12px;color:#df5050;}
  
.crsl, .crsl img, .crsl a, .crsl .lHd, .crsl .lHdI, .crsl .byTh, .byPrc { float:left;}  

/* Check boxes code */
.checkbox {height:22px;width: 19px;clear:left;float:left;margin: 0 0 3px;padding: 0 0 0 26px;background:url('/images/icons/checkbox__.png') no-repeat;cursor: default;text-align:left;}
.checkbox input,.radio input {display: none;}
.checkbox input.show,.radio input.show {display: inline;}
.selected {background-position: 0 -50px!important;}
.block {width: 50%;float: left;}
.techi {font-weight:bold; font-style:normal; color:#787878;float:left;text-align:left;}
/* Check boxes code */

/* Genral Classes */
.cInt1 {color:#333;margin-bottom:50px;}
.cInt1 .menu {width:352px;}
    .srchBar { background:#e3e3e3;border:1px solid #b9b9b9;border-left:none;border-bottom:none;height:40px;width:584px;}
      .srchBar form {float:right;text-align:right;}
      .srchBar select { margin:10px 10px 0 0;}
      .searchTxt { float:left; width:252px; margin:8px 0 0 8px; *margin:7px 5px 0 6px;}
        .searchTxt input[type=text] { float:left; width:139px; height:14px; padding:5px 0 5px 20px; background:url('/images/forms/txt_bag.png') left no-repeat; border:none;}
        .searchTxt input[type=submit] { float:left; width:85px; height:24px; background:url('/images/forms/sbmt_bag.png') left no-repeat; border:none; color:#fff; font-size:9px; cursor:pointer;}

    .srchBar, .searchTxt, .srchBar select {float:left;}             
.blogCnt, .blogCnt .bCImg, .blogActions, .blogActions ul li, .blogActions ul li a, .blogRM, .blogRM h3, .blogRM b, .blogFtr, .blogPg, .blogPg p {float:left;}
.blogActions ul, .blogActions em, .blogActions b {float:right;}     

/* Pagination */
.paging { float:left; width:100%; margin-top:10px;}
.pagination{float:right; padding:2px;}
  .pagination > * { float: left; text-align: center; line-height: 19px; height: 19px; margin-right: 5px; width: 19px;}
  .pagination ul{ margin:0;padding:0;text-align:left;font-size:12px;}
  .pagination li{ float:left;margin-right:5px; list-style-type:none;display:inline;padding-bottom:1px;}
  .pagination a, .pagination a:visited{ background:url('/images/layout/bg_page.jpg') 0 0 no-repeat;text-decoration:none;color:#777;}
  .pagination a:hover, .pagination a:active{color:#fff;background:url('/images/layout/bg_page_h.jpg') 0 0 no-repeat;}
  .pagination > em { color:#fff !important;background:url('/images/layout/bg_page_h.jpg') 0 0 no-repeat;font-weight:bold;cursor:default;}


  .pagination .previous_page, .pagination .next_page { font-weight:bold; width:65px;background:url('/images/layout/prevnext_a.jpg') 0 0 no-repeat;color:#fff !important; height: 19px;}

  .pagination .previous_page.disabled, .pagination .next_page.disabled { font-weight:bold; background:url('/images/layout/prevnext_d.jpg') 0 0 no-repeat;color:#777 !important;}

  .pagination .previous_page:hover, .pagination .next_page:hover { background:url('/images/layout/prevnext_a.jpg') 0 0 no-repeat; cursor: pointer; opacity: 0.8;}
  .pagination .previous_page.disabled:hover, .pagination .next_page.disabled:hover { background: url('/images/layout/prevnext_a.jpg') 0 0 no-repeat !important; color: #fff !important; }

.blogFilters {  float:left;width:258px;border-left:1px solid #b3b3b3;background:#e5e2e2;}
  .blogFilters .CollapsiblePanelTab { width:100%; height:31px; background:url('/images/forms/collaps_tab_bg.gif') repeat-x;}
    .CollapsiblePanelTab span { float:left; width:93%; margin:8px; font-size:14px; color:#4e4e4e; font-weight:bold; background:url('/images/icons/minus.png') 100% 0 no-repeat;}
    .CollapsiblePanelClosed .CollapsiblePanelTab span { background:url('/images/icons/btn_rm.png') 100% 0 no-repeat;}
    .CollapsiblePanelTabOpen .CollapsiblePanelTab span { background:url('/images/icons/btn_rm.png') 100% 0 no-repeat;}
    .CollapsiblePanelContent  { float:left; width:100%;}
    .CollapsiblePanelContent ul {width:95%; margin:10px 0 0 10px;}
    .CollapsiblePanelContent ul li {width:90%; padding-left:20px; line-height:20px; font-size:12px; color:#4e4e4e; padding-bottom:15px; font-weight:bold; background:url('/images/icons/collaps_li_blt.png') left 6px no-repeat;}
    .CollapsiblePanelContent ul li a { color:#4e4e4e;}

.button_to_link { border:none }

/* old spree css */

.flash {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.3em;
  margin-bottom: 1em;
  padding: 0.8em;
}
.flash.notice {
  background: #ccddff url(/images/shadow_top.png) 0px -50px repeat-x;
  color: #556699;
  border: 1px solid #99aacc;
}
.flash.errors {
  background: #f4b4b4 url(/images/shadow_top.png) 0px -50px repeat-x;
  color: #000000;
  border: 1px solid #000000;
}
.formError {
  font-size: 1.3em;
  margin-bottom: 1em;
  padding: 0.8em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #f4b4b4 url(/images/shadow_top.png) 0px -50px repeat-x;
  color: #000000;
  border: 1px solid #000000;
}
.formError p { margin: 0px; }
.formError ul { margin-bottom: 0px; }
.formError h2 {
  font-weight: bold;
  font-size: 1em;
  margin: 0px;
}
.errorExplanation {
  font-size: 1.3em;
  margin-bottom: 1em;
  padding: 0.8em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #f4b4b4 url(/images/shadow_top.png) 0px -50px repeat-x;
  color: #000000;
  border: 1px solid #000000;
}
.errorExplanation p { margin: 0px; }
.errorExplanation ul { margin-bottom: 0px; }
.errorExplanation h2 {
  font-weight: bold;
  font-size: 1em;
  margin: 0px;
}
.fieldWithErrors { clear: none; }

