/* Authors:zainansari@live.com, aminusman@hotmail.com :Creation Date:29-July-2011 Updation Date:N-A*/
@import "reset.css";
@import "base.css";
@import "grids.css";
@import "fonts.css";

/* General Boxes */
body { font-family:helvetica,arial,clean,sans-serif;}
a { text-decoration:none;}
ul li { list-style:none;}
.TabbedPanelsTab span { float:left; width:100%;text-align:center;line-height:19px;}

a:hover {opacity: 0.8;}


/* Footer */
#mFtr{ margin-top:20px;}
  .f1A { width:100%;height:51px;padding-top:11px;background:url('/images/bgs/ftr_bg.png') repeat-x;}
    .f1A b { width:500px;font-size:18px;text-shadow:2px 2px #ccc;color:#4d4d4d;}
    .f1A em { width:500px;font-style:normal;font-size:11px;color:#a2a2a2;font-weight:bold;}
  ul.f1B { float:right;width:130px;}
    ul.f1B li { margin-right:5px;}
    ul.f1B li a { }
  
  .f2 { width:100%;padding-bottom:20px;}
  .f2 ul { width:100%;padding:10px 0;}
    .f2 ul li { margin-right:15px;}
    .f2 ul li a { color:#787878;font-size:11px;font-weight:bold;text-decoration:underline;}
  .f2 img { }

.f1A, .f1A b, .f1A em, ul.f1B li, ul.f1B li a, .f2, .f2 ul, .f2 ul li, .f2 ul li a, .f2 img {float:left;}

.crsl { width:100%;}

  .crsl img { idth:122px;height:100px;margin:2px 32px 0 6px;}
  .crsl a { clear:left;color:#4d4d4d;font-weight:bold;font-size:12px;margin:4px 0 0 15px;}
  .crsl .lHd { width:200px;margin-top:10px;}
  .crsl .lHdI { width:200px;font-size:11px;color:#4d4d4d;font-style:normal;margin-top:5px;}
  .crsl .byTh { width:200px;margin-left:45px;*margin-left:0;*margin-top:20px;font-size:12px;color:#89be50;}
  .byPrc {font-size:12px;color:#df5050;}
  
.crsl, .crsl img, .crsl a, .crsl .lHd, .crsl .lHdI, .crsl .byTh, .byPrc { float:left;}  

/* Check boxes code */
.checkbox {height:22px;width: 19px;clear:left;float:left;margin: 0 0 3px;padding: 0 0 0 26px;background:url('/images/icons/checkbox__.png') no-repeat;cursor: default;text-align:left;}
.checkbox input,.radio input {width: 0; height: 0;}
.checkbox input.show,.radio input.show {display: inline;}
.selected {background-position: 0 -50px!important;}
.block {width: 50%;float: left;}
.techi {font-weight:bold; font-style:normal; color:#787878;float:left;text-align:left;}
/* Check boxes code */

/* General Boxes */
.nHme { background:url('/images/bgs/bg_home.png') left top repeat-x;}

/* Genral Classes */
.cInt1 {color:#333;margin-bottom:50px;}
.cInt1 .menu {width:352px;}
    .srchBar { background:#e3e3e3;border:1px solid #b9b9b9;border-left:none;border-bottom:none;height:40px;width:584px;}
      .srchBar form {float:right;text-align:right;}
      .srchBar select { margin:10px 10px 0 0;}
      .searchTxt { float:left; width:252px; margin:8px 0 0 8px; *margin:7px 5px 0 6px;}
        .searchTxt input[type=text] { float:left; width:139px; height:14px; padding:5px 0 5px 20px; background:url('/images/forms/txt_bag.png') left no-repeat; border:none;}
        .searchTxt input[type=submit] { float:left; width:85px; height:24px; background:url('/images/forms/sbmt_bag.png') left no-repeat; border:none; color:#fff; font-size:9px; cursor:pointer;}

    .srchBar, .searchTxt, .srchBar select {float:left;}             
.blogCnt, .blogCnt .bCImg, .blogActions, .blogActions ul li, .blogActions ul li a, .blogRM, .blogRM h3, .blogRM b, .blogFtr, .blogPg, .blogPg p {float:left;}
.blogActions ul, .blogActions em, .blogActions b {float:right;}     

/* Pagination */
.paging { float:left; width:100%; margin-top:10px;}
.pagination{float:right; padding:2px;}
  .pagination > * { float: left; text-align: center; line-height: 19px; height: 19px; margin-right: 5px; width: 19px;}
  .pagination ul{ margin:0;padding:0;text-align:left;font-size:12px;}
  .pagination li{ float:left;margin-right:5px; list-style-type:none;display:inline;padding-bottom:1px;}
  .pagination a, .pagination a:visited{ background:url('/images/layout/bg_page.jpg') 0 0 no-repeat;text-decoration:none;color:#777;}
  .pagination a:hover, .pagination a:active{color:#fff;background:url('/images/layout/bg_page_h.jpg') 0 0 no-repeat;}
  .pagination > em { color:#fff !important;background:url('/images/layout/bg_page_h.jpg') 0 0 no-repeat;font-weight:bold;cursor:default;}


  .pagination .previous_page, .pagination .next_page { font-weight:bold; width:65px;background:url('/images/layout/prevnext_a.jpg') 0 0 no-repeat;color:#fff !important; height: 19px;}

  .pagination .previous_page.disabled, .pagination .next_page.disabled { font-weight:bold; background:url('/images/layout/prevnext_d.jpg') 0 0 no-repeat;color:#777 !important;}

  .pagination .previous_page:hover, .pagination .next_page:hover { background:url('/images/layout/prevnext_a.jpg') 0 0 no-repeat; cursor: pointer; opacity: 0.8;}
  .pagination .previous_page.disabled:hover, .pagination .next_page.disabled:hover { background: url('/images/layout/prevnext_a.jpg') 0 0 no-repeat !important; color: #fff !important; }

.blogFilters {  float:left;width:258px;border-left:1px solid #b3b3b3;background:#e5e2e2;}
  .blogFilters .CollapsiblePanelTab { width:100%; height:31px; background:url('/images/forms/collaps_tab_bg.gif') repeat-x;}
    .CollapsiblePanelTab span { float:left; width:93%; margin:8px; font-size:14px; color:#4e4e4e; font-weight:bold; background:url('/images/icons/minus.png') 100% 0 no-repeat;}
    .CollapsiblePanelClosed .CollapsiblePanelTab span { background:url('/images/icons/btn_rm.png') 100% 0 no-repeat;}
    .CollapsiblePanelTabOpen .CollapsiblePanelTab span { background:url('/images/icons/btn_rm.png') 100% 0 no-repeat;}
    .CollapsiblePanelContent  { float:left; width:100%;}
    .CollapsiblePanelContent ul {width:95%; margin:10px 0 0 10px;}
    .CollapsiblePanelContent ul li {width:90%; padding-left:20px; line-height:20px; font-size:12px; color:#4e4e4e; padding-bottom:15px; font-weight:bold; background:url('/images/icons/collaps_li_blt.png') left 6px no-repeat;}
    .CollapsiblePanelContent ul li a { color:#4e4e4e;}

.button_to_link { border:none }

/* old spree css */

.flash {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.3em;
  margin-bottom: 1em;
  padding: 0.8em;
}
.flash.notice {
  background: #ccddff url(/images/shadow_top.png) 0px -50px repeat-x;
  color: #556699;
  border: 1px solid #99aacc;
}
.flash.errors {
  background: #f4b4b4 url(/images/shadow_top.png) 0px -50px repeat-x;
  color: #000000;
  border: 1px solid #000000;
}
.formError {
  font-size: 1.3em;
  margin-bottom: 1em;
  padding: 0.8em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #f4b4b4 url(/images/shadow_top.png) 0px -50px repeat-x;
  color: #000000;
  border: 1px solid #000000;
}
.formError p { margin: 0px; }
.formError ul { margin-bottom: 0px; }
.formError h2 {
  font-weight: bold;
  font-size: 1em;
  margin: 0px;
}
.errorExplanation {
  font-size: 1.3em;
  margin-bottom: 1em;
  padding: 0.8em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #f4b4b4 url(/images/shadow_top.png) 0px -50px repeat-x;
  color: #000000;
  border: 1px solid #000000;
}
.errorExplanation p { margin: 0px; }
.errorExplanation ul { margin-bottom: 0px; }
.errorExplanation h2 {
  font-weight: bold;
  font-size: 1em;
  margin: 0px;
}
.fieldWithErrors { clear: none; }

/* Backgrounds*/
.bgLft { float:left; width:100%; height:144px; position:absolute; z-index:-1;background:url('/images/bgs/hdr_left.png') center top no-repeat;}

body { font-family:helvetica,arial,clean,sans-serif;}
a { text-decoration:none;}
ul li { list-style:none;-moz-transition: color 0.3s ease 0s!important;-webkit-transition: color 0.3s ease 0s!important;-o-transition: color 0.3s ease 0s!important;}
.TabbedPanelsTab span { float:left; width:95%;text-align:center;line-height:19px;}
a:link {-moz-transition: color 0.3s ease 0s!important;-webkit-transition: color 0.3s ease 0s!important;-o-transition: color 0.3s ease 0s!important;}

/* Header */
#mHdr { padding-top:11px;}

.hd1A {}

.hd1B { width:245px;}
    .loginBar { width:100%; margin-left:17px;}
        .loginBar i { padding-right:10px;margin-right:10px;font-style:normal;background:url('/images/forms/sgnup_line.gif') right no-repeat;}
        .loginBar a { color:#787878;font-weight:bold;}
        .loginBar .crt { margin-left:10px;}
    ul.tpMnu {width:100%;margin-top:10px;}
        ul.tpMnu li {font-size:12px;font-weight:bold;margin-right:7px;padding-right:7px;border-right:1px solid #787878;}
        ul.tpMnu li a { color:#29b6de;}
        ul.tpMnu li.last, ul.mMenu li.last { margin:0;padding:0;border:none;background:none;}
.hd2 { width:100%;margin-top:7px;}
    .menu { width:100%;}
        .menu .lft {background:url('/images/layout/bg_mnu_lft.png') no-repeat;}
        ul.mMenu {width:495px;}
        .menu .cntr { float:left; width:900px;background:url('/images/layout/bg_mnu_cntr.png') repeat-x;}
        .menu .rgt {background:url('/images/layout/bg_mnu_rgt.png') no-repeat;}
        .menu .lft, ul.mMenu,.menu .rgt { height:38px;}
        .menu .lft,.menu .rgt {width:10px;}
        ul.mMenu li {font-weight:bold;}
            ul.mMenu li a { height:20px; padding:0 5px; margin:10px 0 0 10px;line-height:19px;font-size:11px;color:#fff; font-weight:bold;}
            ul.mMenu li a:hover, ul.mMenu li a.active { color:#e0bd11; background:url('/images/bgs/mnu_hvr.png') repeat-x; border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
    .tSrch { width:405px;height:25px; margin:7px 0 0 0;background:url('/images/bgs/srch_bg_new.png') left no-repeat;}
        .tSrch form { width:100%;}
            .tSrch form .allProd { margin:11px;}
        .tSrch input[type=text] { width:192px;height:14px; padding:5px;border:none;background:none;}
        .tSrch .allProd {}
        .tSrch input[type=submit] {width:37px;height:29px;cursor:pointer;border:none;margin:-2px -5px 0 23px;background:url('/images/forms/jst_go.png') no-repeat;}
    .pAbb { position:relative;}
        .pAbb .dd2 .ddChild { width:140px!important; top:25px!important;}
        .pAbb .dd2 { width:140px!important; margin-top:0!important;}
        .pAbb .dd2 .ddTitle { background:none!important;}
        .cHme {float:left; width:135px; margin-left:7px}
        .pAbb .dd2 .ddTitle span.arrow {background:none!important;}
.hd1B {float:right;}
.hd1A, .hd2,.loginBar,.loginBar i,.loginBar a, ul.tpMnu, ul.tpMnu li, ul.tpMnu li a, ul.mMenu, ul.mMenu li, ul.mMenu li a,.menu,.menu .lft,.menu .rgt,.tSrch input[type=text],.tSrch form,.allProd,.tSrch input[type=submit], .tSrch {float:left;}

/* Content */
#mCnt{ margin-top:20px; overflow: hidden;}
.cHome{}
    .cHome .mBnr { width:100%;background:url('/images/bgs/bnr_bg1.png') no-repeat;}
        .mBnr .bnrCnt { width:255px;margin:66px 0 0 40px;}
            .mBnr .bnrCnt h1 { width:100%;margin:0;padding-bottom:15px;font-size:18px;color:#4d4d4d;}
            .mBnr .bnrCnt p { font-size:11px;color:#4d4d4d;line-height:16px;}
            .mBnr .bnrCnt a { font-size:12px;font-weight:b;color:#29b6de;margin-top:20px;}
            .btn { float:left; width:170px; height:49px; margin:20px 0 0 0;}
            .btn:hover {}
            
        .mBnr .bnrImg { width:461px;position:relative;}
            .TabbedPanelsTab span { width:95%;text-align:center;line-height:19px;}
        
.cHome .mBnr, .mBnr .bnrCnt, .mBnr .bnrCnt h1, .mBnr .bnrCnt p, .mBnr .bnrCnt a, .mBnr .bnrCnt .btn, .mBnr .bnrImg,.TabbedPanelsTab span {float:left;}

/* Categorias */
.colLft { float:left; width:198px;}
    .colLft .cat { float:left; width:100%;}
        .cat h2 { float:left; width:100%; height:34px; line-height:34px; font-size:14px; color:#575757; text-indent:15px; margin:10px 0 0 0; background:url('/images/bgs/cat_bg.png') repeat-x;border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0px 0px;-webkit-border-radius:10px 10px 0px 0px;}
            .cat h2 span { color:#2b9fcb;}
        .cat ul { float:left; width:100%; padding-top:15px; background:#efefef;border-radius:0px 0px 5px 5px;-moz-border-radius:0px 0px 5px 5px;-webkit-border-radius:0px 0px 5px 5px}
            .cat ul li { float:left; width:100%; padding-bottom:2px; line-height:27px; background:url(/images/icons/cat_ico.png) 11px 9px no-repeat;}
                .cat ul li a { float:left; width:151px; margin-left:23px; color:#575757; border-bottom:1px dotted #a1a0a0;}
                .cat ul li a.last {border-bottom:none;}
                .cat ul li:last-child a {border-bottom:none;}

.panel-wrapper form { float:left; margin-top:14px;}
.taxt { float:left; width:235px; height:30px; padding:5px 10px; border:none; color:#798e94; background:url('/images/forms/bnr_txtbx.png') no-repeat;}
.sabmt {float:left; width:40px; height:40px;border:none; cursor:pointer;background:url('/images/forms/bnr_srchico.png') no-repeat;}
.panel-wrapper .pAdd { float:left;position:relative!important;}

/* Right content */
.colRgt { float:left; width:704px; margin-left:18px;}
    .colRgt .sldr1 { float:left; width:100%;}
        .sldr1 h2 { float:left; width:100%; margin-bottom:0;}
            .sldr1 h2 span { float:left;width:198px;height:32px;line-height:34px; font-size:14px; color:#fff; text-indent:15px; margin:10px 0 0 0; background:url('/images/bgs/sldr_hd_bg.png') repeat-x;border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0px 0px;-webkit-border-radius:10px 10px 0px 0px;}
    .sldrCnt { float:left; width:100%; border:1px solid #ccc; height:250px;border-radius:0px 0px 5px 5px;-moz-border-radius:0px 0px 5px 5px;-webkit-border-radius:0px 0px 5px 5px}
    .sldrCnt.sellersSlider { height: 200px}
.crslHd { float:left; width:98%; margin:0 1%; text-indent:10px; margin-top:10px; color:#47b1d9; padding-bottom:5px; border-bottom:1px solid #ccc;}
.items a {float:left; width:134px; margin-right:12px; text-decoration:none;}
.items b { float:left; width:100%; padding-bottom:10px;text-transform:uppercase; line-height:18px; font-size:11px; text-align:center;}
.pd1 { float:left; width:134px; margin-top:8px; background:url('/images/bgs/crsl_img_bg.png') left top no-repeat; color: black;}
    .pd1 i { float:left; margin:3px 0 0 7px;}
    .pd1 p { float:left; width:125px; font-size:11px; margin:0 0 0 7px;}
    .pd1 span {float:left; width:125px; color:#a53027; margin:3px 0 0 7px;}
    .pd1 em {color:#619e44; font-style:normal;}
/* Button Effects */        
.rMore b {float:left;position:relative;z-index:5;height:32px;line-height:25px;padding-left:13px;font-weight:normal;}
.rMore span {position:relative;}

/* Footer */
#mFtr{ clear:both;float:left;width:100%;margin-top:20px;background:url('/images/bgs/ftr_bg_new.png') 0 5px repeat-x;min-height:180px;}
    .f1A { width:100%;height:51px;padding-top:11px;}
        .f1A p { margin-top:20px;font-size:24px;text-shadow:2px 2px #ccc;color:#848484;text-shadow:#ababab -2px 0 0;}
        .f1A span {color:#499109;}
        .f1A b {float:right;color:#fff;margin-right:30px;background:url('/images/icons/btn_q.png') 0 0 no-repeat;width:110px;height:47px;position:relative;z-index:10;top:-18px;padding:45px 0 0 0;}
        .f1A b i {float:left;width:89%;font-style:normal;text-align:center;}
    ul.f1B { float:right;width:170px;margin-top:12px;}
        ul.f1B li { margin-right:5px;}
        ul.f1B li a { }
    
    .f2 { width:100%;padding-bottom:20px;margin:20px 0 0 40px;}
    .f2 ul { width:100%;padding:10px 0;}
        .f2 ul li { margin-right:15px;}
        .f2 ul li a { color:#787878;font-size:11px;font-weight:bold;text-decoration:underline;}
        .f2 ul li a:hover {text-decoration:none;}
    .f2 b {color:#444;font-size:12px;}

.f1A, .f1A p, ul.f1B li, ul.f1B li a, .f2, .f2 ul, .f2 ul li, .f2 ul li a, .f2 b {float:left;}

/* Banner#2 styles */
.txt { float:left;margin-top:10px; color:#729cad;width:360px;}
.lrn { float:right;width:auto;text-align:right; margin-top:10px; color:#0066cc;text-decoration:none;display:block;}

/* Top Logo Fix */
.cLogo {display:block;height:66px;width:177px;background:url('/images/logos/logo_new.png') no-repeat;background-position:0 0px;cursor: pointer;}   
.cLogo span.hover {position: absolute;display: block;height:66px;width:177px;background:url('/images/logos/logo_new.png') 0 -66px no-repeat;background-position: bottom;}

/* Faded Buttons in Banners */
.otherbutton { position: relative; padding: 0; }
.marquee01 .otherbutton {display:block;height:53px;width:176px;background:url('/images/forms/find_btn_h.png') no-repeat;background-position:0 -53px;cursor: pointer; border: none;}  
.marquee01 .otherbutton span.hover {position: absolute;display: block;height:53px;width:176px;background:url('/images/forms/find_btn_h.png') 0 0px no-repeat;background-position: bottom; top: 0;}

.marquee02 .otherbutton {display:block;height:51px;width:183px;background:url('/images/forms/sell_btn.png') no-repeat;background-position:0 -51px;cursor: pointer;}

@media screen and (-webkit-min-device-pixel-ratio:0) {.marquee02 .otherbutton {background-position:0 0;}}
    
.marquee02 .otherbutton span.hover {position: absolute;display:block;height:51px;width:183px;background:url('/images/forms/sell_btn.png') 0 0px no-repeat;background-position: bottom; top: 0;}

@media screen and (-webkit-min-device-pixel-ratio:0) {.marquee02 .otherbutton span.hover {background-position:0px -51px;}}

.marquee03 .otherbutton {display:block;height:53px;width:176px;background:url('/images/forms/find_btn_h.png') no-repeat;background-position:0 -53px;cursor: pointer; border: none;}  
.marquee03 .otherbutton span.hover {position: absolute;display: block;height:53px;width:176px;background:url('/images/forms/find_btn_h.png') 0 0px no-repeat;background-position: bottom; top: 0;}

