<div class="lgnTop"></div>
<div class="lgnCntr">
  <% if signup %>
    <i class="fBook"><%= image_tag "img/signup.png" %></i>
  <% end %>
  <i class="fBook"><%= link_to image_tag("forms/fbook.png"), "#" %></i>
  <% if signup %>
    <p class="ptr">By clicking on Connect with Facebook," you confirm that<br /> you accept the Terms of Service. </p>
  <% end %>
</div>
<div class="lgnBtm"></div>
