<!-- START FOOTER -->
    <div id="mFtr">
        <div class="f1A">
          <div class="mWrp">
              <ul class="f1B">
                    <li><a href="#"><img src="/images/icons/ico_twtr.png" alt="" /></a></li>
                    <li><a href="#"><img src="/images/icons/ico_ggl.png" alt="" /></a></li>
                    <li><a href="#"><img src="/images/icons/ico_fb.png" alt="" /></a></li>
                </ul>
                <b>BilNeur | Creating One Entrepreneur at a time.</b>
                <em>Now anyone can connect with sellers, buy products and start selling instantly</em>
            </div>
        </div>
        <div class="mWrp">
            <div class="f2">
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Terms &amp; Privacy</a></li>
                    <li><a href="#">Terms &amp; Privacy</a></li>
                    <li><a href="#">Buyer Confidence</a></li>
                    <li><a href="#">Traders Protection</a></li>
                    <li><a href="#">Community</a></li>
                    <li><a href="#">iPhone App</a></li>
                </ul>
                <img src="/images/img/copy.png" alt="" />
            </div>
        </div>
    </div>
<!-- END FOOTER -->
