<!-- START FOOTER -->
    <div id="mFtr">
        <div class="f1A">
          <div class="mWrp">
              <ul class="f1B">
                    <li><a href="#"><img src="/images/icons/ico_twtr_new.png" alt="" /></a></li>
                    <li><a href="#"><img src="/images/icons/ico_yt_new.png" alt="" /></a></li>
                    <li><a href="#"><img src="/images/icons/ico_fb_new.png" alt="" /></a></li>
                </ul>
                <b><i>Call us @ <br>650-283-8515</i></b>
                <p>Creating One <span>Entrepreneur</span> at a time.....</p>
            </div>
        </div>
        <div class="mWrp">
            <div class="f2">
                <ul>
                    <li><a href="/about_as">About Us</a></li>
                    <li><a href="/contact_as">Contact Us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="/jobs">Jobs</a></li>
                    <li><a href="/term_privacy">Terms &amp; Privacy</a></li>
                    <li><a href="/buyer_confidence">Buyer Confidence</a></li>
                    <li><a href="/traders_protection">Traders Protection</a></li>
                    <li><a href="/communuty">Community</a></li>
                    <li><a href="/iphone_app">iPhone App</a></li>
                  </ul>
                <b>&copy; 2011 Bilneur</b>
            </div>
        </div>
    </div>
<!-- END FOOTER -->
