<!-- START HEADER -->
    <div id="mHdr">
      <div class="hd1A">
          <a href="/"><img src="/images/logos/logo.png" alt="" /></a>
        </div>
        <div class="hd1B">
          <div class="loginBar">
              <i><%= link_to "Sign Up", new_user_registration_path %></i>
                <%= link_to "Log In", new_user_session_path %>
                <a class="crt" href="#"><img src="/images/icons/cart.png" alt="" /></a>
            </div>
            <ul class="tpMnu">
              <li><a href="#">How It Work</a></li>
              <li><a href="#">What We Do</a></li>
              <li class="last"><a href="#">Start Selling</a></li>
            </ul>
        </div>

        <div class="hd2">
          <div class="menu">
              <div class="lft"></div>
              <ul class="mMenu cntr">
                    <li><a href="#">Categories</a></li>
                    <li><a href="#">Groups</a></li>
                    <li><a href="#">Top Products</a></li>
                    <li><a href="#">Top Sellers</a></li>
                    <li><a href="#">Top Deals</a></li>
                    <li class="last"><a href="#">Blog</a></li>
                </ul>
                <div class="rgt"></div>
            </div>

            <div class="tSrch">
              <form id="search_form" action="search_result.html">
                  <input type="text" value="" name="" />
                    <img src="/images/img/all_prod.png" class="allProd" />
                    <input type="submit" value="" name="" />
                </form>
            </div>
        </div>
    </div>
<!-- END HEADER -->
