<div class="ptPod">
  <%= link_to image_tag("/images/icons/chta_pls.png"), product, :class => "pTpA" %>
            <i class="pImg"><%= link_to small_image(product), product %></i>
            <b class="prc">$238<br><span>Shipping: $2.99</span></b> <!-- FIXME -->

            <ul>
            	<li><a href="#"><img src="/images/icons/ch_twtr.png" alt=""></a></li><!-- FIXME -->
            	<li><a href="#"><img src="/images/icons/ch_fb.png" alt=""></a></li><!-- FIXME -->
            	<li><a href="#"><img src="/images/icons/ch_dl.png" alt=""></a></li><!-- FIXME -->
            </ul>

            <div class="cntcts">
                <p>
                    <%= render :partial => 'shared/cart_form', :object => best_deal %>
                </p>

                <div class="str">
                	<i>QTY Available <label><%= best_deal.count_on_hand %></label></i>
                        <div id="number1" class="nmbrRate" style="width: 100px; cursor: pointer; "><!-- FIXME -->
                          <img id="number1-1" src="assets/scripts/star_rating_small/img/star-off.png" alt="1" title="bad" class="number1">&nbsp;
                          <img id="number1-2" src="assets/scripts/star_rating_small/img/star-off.png" alt="2" title="poor" class="number1">&nbsp;
                          <img id="number1-3" src="assets/scripts/star_rating_small/img/star-off.png" alt="3" title="regular" class="number1">&nbsp;
                          <img id="number1-4" src="assets/scripts/star_rating_small/img/star-off.png" alt="4" title="good" class="number1">&nbsp;
                          <img id="number1-5" src="assets/scripts/star_rating_small/img/star-off.png" alt="5" title="gorgeous" class="number1">
                          <input id="number1-score" type="hidden" name="entity.score">
                        <img id="number1-1" src="assets/scripts/star_rating_small/img/star-off.png" alt="1" title="bad" class="number1">&nbsp;<img id="number1-2" src="assets/scripts/star_rating_small/img/star-off.png" alt="2" title="poor" class="number1">&nbsp;<img id="number1-3" src="assets/scripts/star_rating_small/img/star-off.png" alt="3" title="regular" class="number1">&nbsp;<img id="number1-4" src="assets/scripts/star_rating_small/img/star-off.png" alt="4" title="good" class="number1">&nbsp;<img id="number1-5" src="assets/scripts/star_rating_small/img/star-off.png" alt="5" title="gorgeous" class="number1"><input id="number1-score" type="hidden" name="entity.score"></div>
                </div>
            </div>
</div>
