<% stars = rating_product.get_stars %>
<b class="revw">
  <em><%= stars.last %></em>
  <span>reviews</span>
</b>

<b>
  <% for i in 1..NB_STARS %>
    <% if i == stars[0] %>
      <label>
        <%= image_tag "icons/yel_str_big.png" %>
      </label>
    <% else %>
      <label>
        <%= image_tag "icons/grey_str_big.png" %>
      </label>
     <% end %>
  <% end %>
</b>

