<% stars = rating_product.get_stars %>
<b class="revw">
  <em><%= stars.last %></em>
  <span>reviews</span>
</b>

<b>
  <%= show_stars(rating_product.avg_rating, 'icons/yel_str_big.png', 'icons/grey_str_big.png', '<label>') %>
</b>

