<% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Taxon.roots  %> 
<div class="tSrch">
<%= form_tag products_url, :method => :get do %>
  <%= text_field_tag :keywords, params[:keywords] %>
  <%= select_tag :taxon, 
        options_for_select([[t(:all_departments), '']] + 
                              @taxons.map {|t| [t.name, t.id]}, 
                            @taxon ? @taxon.id : params[:taxon]) %>
  <%= submit_tag "", :name => nil %>
<% end %>
</div>
