<% for seller in sellers %>
 <div class="smPrdcts">
   <div class="smPd">
     <i class="imgP"><%= image_tag seller.photo.url(:for_review) %></i>
     <div class="pdDtl">
       <h4><%= seller.firstname %></h4>
       <p><%= show_stars seller.avg_rating %></p>
       <p>Reviews count: <%= seller.reviews_count %></p>
     </div>
   </div>
 </div>
<% end %>
