<div class="fdBack">
                <i class="rtr"><img src="images/img/rater_img1.png" alt=""><span>Cheryl C</span></i>
                <p>e vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
a consequuntur magni dolores eos</p>
                <div class="smlRtng">
                  
                  <div id="number1" class="nmbrRate" style="width: 100px; cursor: pointer; ">
                    <img id="number1-1" src="assets/scripts/star_rating_small/img/star-off.png" alt="1" title="bad" class="number1">&nbsp;
                    <img id="number1-2" src="assets/scripts/star_rating_small/img/star-off.png" alt="2" title="poor" class="number1">&nbsp;
                    <img id="number1-3" src="assets/scripts/star_rating_small/img/star-off.png" alt="3" title="regular" class="number1">&nbsp;
                    <img id="number1-4" src="assets/scripts/star_rating_small/img/star-off.png" alt="4" title="good" class="number1">&nbsp;
                    <img id="number1-5" src="assets/scripts/star_rating_small/img/star-off.png" alt="5" title="gorgeous" class="number1">
                    <input id="number1-score" type="hidden" name="entity.score">
                  </div>
                </div>
                <a class="itmN" href="#"><b>Item</b># 31245678</a>
</div>
