<div class="fdBack">
  <i class="rtr">
    <%= image_tag(user.photo.url(:for_review)) %>
    <span><%= user.full_name %></span>
  </i>
  <p>
      <%= review.review %>
  </p>
  <div class="smlRtng">
    <%= show_stars(review.rating, 'icons/yel_str_sml.png', 'icons/grey_str_sml.png', '<em>') %>
  </div>
  <a class="itmN" href="#"><b>Item</b>FIXME</a>
</div>
