<div class="cC">
  <%= form_for(order, :url => update_cart_path, :html=>{:id=>'updatecart'}) do |order_form| %>
    <%= render 'cart_form', :order_form => order_form %>
  <% end %>
</div>

<div class="bL"><div class="bR"></div></div>
<div class="slng">
  <div class="slngLft">
      <p>Virtual selling supported by Bilneur for the items in your cart</p>
        <a href="#"><b>Learn More</b></a>
    </div>
    <div class="slngrgt">
      <b><span>TOTAL </span><%= order_price(order) %></b>
        <p><%= order.line_items.count %> Items From 2 Sellers</p>
    </div>
</div>
