<% @body_id = 'cart' %>
<% stylesheet "slider/checkout_scrollable_wizard", "checkout", "product" %>
<%# javascript "slider/jquery_tools", "slider/scrollable" %>

<div class="cnt">
  <div class="crtPnl">
    <div class="stpBStp" style="float:left;">
      <div style="float: left;">
        <%= render '/shared/order_status', :step => "cart" %>
        <div class="items">
          <%= render 'cart_content' %>
        </div><!--items-->
      </div>
      <!--wizard-->
    </div>
  </div>
</div>

