<div class="sidebar-item" >
  <ul class="navigation-list">
    <li><%= link_to t('user_menu.my_account'), dashboard_account_path %></li>
    <li><%= link_to t('user_menu.quotes'), dashboard_quotes_path %></li>
  </ul>
</div>
