<ul class="TabbedPanelsTabGroup">
    <li class="TabbedPanelsTab" tabindex="0"><span><%= link_to( t('user_menu.my_account'), dashboard_account_path) %></span></li>
    <li class="TabbedPanelsTab" tabindex="0"><span><%= link_to t("inbox"), dashboard_messages_path %></span></li>
    <li class="TabbedPanelsTab" tabindex="0"><span>Purchases</span></li>
    <li class="TabbedPanelsTab" tabindex="0"><span>Selling</span></li>
    <li class="TabbedPanelsTab" tabindex="0"><span>Orders</span></li>
    <li class="TabbedPanelsTab" tabindex="0"><span>Inventory</span></li>
    <li class="TabbedPanelsTab" tabindex="0"><span>Feedback</span></li>
</ul>
