<ul class="TabbedPanelsTabGroup">
    <li class="TabbedPanelsTab" tabindex="0"><span>My Account</span></li>
    <li class="TabbedPanelsTab" tabindex="0"><span>Inbox</span></li>
    <li class="TabbedPanelsTab" tabindex="0"><span>Purchases</span></li>
    <li class="TabbedPanelsTab" tabindex="0"><span>Selling</span></li>
    <li class="TabbedPanelsTab" tabindex="0"><span>Orders</span></li>
    <li class="TabbedPanelsTab" tabindex="0"><span>Inventory</span></li>
    <li class="TabbedPanelsTab" tabindex="0"><span>Feedback</span></li>
</ul>
