<ul id="login-nav">
  <li>Logged in as: <%= current_user.email%></li>
  <li><%= link_to( t('user_menu.my_account'), dashboard_account_path) %></li>
  <li><a href="/logout">Logout</a></li>
  <li><a href="/">Store</a></li>
</ul>
