<div class="prflBus">
  <ul id="sub_nav">
    <li>
      <%= link_to "Products", dashboard_products_path%>
    </li>
    <li>
      <%= link_to "Properties", dashboard_properties_path %>
    </li>
    <li>
      <%= link_to "Option Types", dashboard_option_types_path %>
    </li>
    <li>
      <%= link_to "Review Management", dashboard_reviews_path %>
    </li>
  </ul>
</div>
