<%= content_for :sub_menu do %>
  <ul id="sub_nav">
    <li><%= link_to "Realy", dashboard_shipping_methods_path %></li>
    <li><%= link_to "Virtual", dashboard_shipping_methods_path  %></li>
  </ul>
<% end %>
