<div class="bCrmp">
  <span>Continue Browsing</span>
    <ul>
      <li>Filters:</li>
        <li><%= link_to "All Products", "#" %></li>
        <li><%= link_to "Electronics", "#" %></li>
        <li><%= link_to "Smart Phones", "#" %></li>
        <li><%= link_to "Apple iPhone", "#" %></li>
    </ul>
</div>
