
<%= render :partial => 'shared/reviews' %>

<div class="rtng">
  <div class="top">
      <b>Overall Rating</b>
        <p>
          <%= show_stars @product %>
        </p>
        <b>Based On <%= @product.reviews_count %> Ratings</b>
        <a href="#">Rate This Product</a>
    </div>
    <div class="cntr">
      <i><img src="/images/img/rater_img1.png" alt="" /></i>
        <span>Cheryl C</span>
        <p>e vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia<br /> voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur<br /> magni dolores eos</p>
        <b>
          <em><img src="/images/icons/yel_str_sml.png" alt="" /></em>
          <em><img src="/images/icons/yel_str_sml.png" alt="" /></em>
          <em><img src="/images/icons/yel_str_sml.png" alt="" /></em>
          <em><img src="/images/icons/grey_str_sml.png" alt="" /></em>
          <em><img src="/images/icons/grey_str_sml.png" alt="" /></em>
        </b>
        <a href="#">Would you recomend this product to a friend?<em class="ys">Yes</em></a>

    </div>
    <div class="cntr">
      <i><img src="/images/img/rater_img1.png" alt="" /></i>
        <span>Cheryl C</span>
        <p>e vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia<br /> voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur<br /> magni dolores eos</p>
        <b>
          <em><img src="/images/icons/yel_str_sml.png" alt="" /></em>
          <em><img src="/images/icons/yel_str_sml.png" alt="" /></em>
          <em><img src="/images/icons/yel_str_sml.png" alt="" /></em>
          <em><img src="/images/icons/grey_str_sml.png" alt="" /></em>
          <em><img src="/images/icons/grey_str_sml.png" alt="" /></em>
        </b>
        <a href="#">Would you recomend this product to a friend?<em class="no">No</em></a>

    </div>
    <div class="cntr">
      <i><img src="/images/img/rater_img1.png" alt="" /></i>
        <span>Cheryl C</span>
        <p>e vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia<br /> voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur<br /> magni dolores eos</p>
        <b>
          <em><img src="/images/icons/yel_str_sml.png" alt="" /></em>
          <em><img src="/images/icons/yel_str_sml.png" alt="" /></em>
          <em><img src="/images/icons/yel_str_sml.png" alt="" /></em>
          <em><img src="/images/icons/grey_str_sml.png" alt="" /></em>
          <em><img src="/images/icons/grey_str_sml.png" alt="" /></em>
        </b>
        <a href="#">Would you recomend this product to a friend?<em class="ys">Yes</em></a>

    </div>
    <div class="btm">
      <!--<div class="blogPg">
            <p><b>1 - 15</b> of <b>3,456</b> blog posts</p>
        </div>-->
      <div class="pagination">
            <ul>
                <li><a href="#" class="prevnext disablelink">previous</a></li>
                <li><a href="#" class="currentpage">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a>...</li>
                <li><a href="#">18</a></li>
                <li><a href="#" class="prevnext">next</a></li>
            </ul>
      </div>
    </div>
</div>
