<% unless @product_properties.empty? %>
<ul>
<% for product_property in @product_properties %>
<li>
  <span><%= product_property.property.presentation %></span>
  <%= product_property.value %>
<% end %>
</li>
<% end %>
</ul>
