<% if params[:taxon] || params[:taxon_ids] %>

<% facet = @searcher.facets.detect{|v| v.name == :taxon}
   options = facet.try(:options) %>

<% unless options.blank? %>

<li><%= t "#{:taxon}_facet" %>:</li>

<% options.each do |option| %>
<li >
  <%= link_to_facet(facet.name, option.name, option.count) %>

  <%= link_to image_tag("icons/ico_cros.png"), "#", :"data-remove_taxon" => option.name, :class => "remove-facet" %>
</li>
<% end %>
<% end  %>

<% end  %>
