<div class="smlTabs">                
  <div id="TabbedPanels2" class="TabbedPanels">
    <ul class="TabbedPanelsTabGroup">
      <li class="TabbedPanelsTab tab1" tabindex="0"><span>Brand New</span></li>
      <li class="TabbedPanelsTab tab2" tabindex="0"><span>Used</span></li>
      <li class="TabbedPanelsTab tab3" tabindex="0"><span>Refurbished</span></li>
    </ul>
    <div class="TabbedPanelsContentGroup">
      <div class="TabbedPanelsContent">
          <div class="tabCnt1">
            <a href="#">View All</a>
              <b>$238 - $39.99</b>
              <span>Available with 15 Sellers</span>
              
          </div>
          <div class="tabCnt2">
            <a href="#">View All</a>
              <span>21 Auctions Starting at</span>
              <b>$2.99</b>
          </div>
          <div class="tabCnt3">
            <a href="#">View All</a>
              <span>20 more buyers needed</span>
              <b>50% Group Discount</b>
          </div>
          <div class="btm"></div>
        </div>
      <div class="TabbedPanelsContent">Content 2</div>
        <div class="TabbedPanelsContent">Content 3</div>
    </div>
  </div>
</div>
