<div class="vwer">
  <div class="top"><b>Users Viewing This Product</b></div>
    <div class="cntr">
        <i><img src="/images/img/rater_img1.png" alt="" /></i>
        <span>Cheryl C</span>
        <p><a>Cheryl C is Viewing<br /> this produc, right now</a></p>
    </div>
    <div class="cntr">
        <i><img src="/images/img/rater_img1.png" alt="" /></i>
        <span>Cheryl C</span>
        <p><a>Cheryl C is Viewing<br /> this produc, right now</a></p>
    </div>
    <div class="cntr lst">
        <i><img src="/images/img/rater_img1.png" alt="" /></i>
        <span>Cheryl C</span>
        <p><a>Cheryl C is Viewing<br /> this produc, right now</a></p>
    </div>
    <div class="btm"></div>
</div>

