<div class="add">
  <b>Want to Buy &amp; Virtually Resell This Item?</b>
  <a class="slrOvr" href="#">5 sellers overing Virtual Buying &amp; Selling</a>
  <a class="strt" href="#">Start Buying &amp; Selling</a>
   <a class="mre" href="#">Learn More</a>
</div>
