<div class="add">
  <b>Want to Buy &amp; Virtually Resell This Item?</b>

  <a class="slrOvr" href="#">5 sellers overing Virtual Buying &amp; Selling</a>
  <%= link_to t("start_buying_and_selling"),  start_selling_link,
                                           :title => t("start_selling"), :class => "strt" %>
   <a class="mre" href="#"><%= t("learn_more") %></a>
</div>
