<%= render :partial => 'dashboard/shared/product_sub_menu' %>
<%= render :partial => 'dashboard/shared/product_tabs', :locals => {:current => "Option Types"} %>

<div id="selected-options">
  <%= render 'selected' %>
</div>
